<!DOCTYPE html>
<html>
<head> 
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>  
  <%= render :partial=>'shared/mail_header' %><br /><br />
  Hi <%= @invoice.buyer_first_name %>,<br /><br />

  <span style="height:30px;">
    Good news! You received invoice #<%= @invoice.id %> from <%= @invoice.seller_name %>
    for $<%= @invoice.amount %> for <%= @title %>. <br /> <br />  
    Click <%= link_to 'View Invoice', invoice_url(@invoice) %> to review the invoice.</span><br /><br />

    Ok, now what? Well, you can:
    <ol type = "a">
      <li>Through the PixiChat&#0153; message center, reply to the post, ask questions, pay invoice, and determine a meet-up spot, or<br /></li>
      <li>Click the blue Pay box on the toolbar in the application to pay an invoice from the seller.<br /></li>
    </ol>
    Either way, there is a deal to be closed.
  </span><br /><br />

  <span style="margin-top:20px;">Keep on Pixing!</span><br /><br />
  <span>The Pixiboard Team</span><br /><br />   
  <%= render :partial=>'shared/mail_footer' %>
</body>
</html>

