<!DOCTYPE html>
<html>
<head> 
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
  <body> 	
    	<%= render :partial=>'shared/mail_header' %><br /><br />
	Hi <%= @post.recipient.first_name %>,<br /><br />
    	<span style="height:30px;">
  		You received a message on Pixiboard from <%= @post.sender_name %>.  
		Click <%= link_to 'Check My Messages', conversations_url %> to check it out.</span><br /><br />

	<span style="margin-top:20px;">Happy Pixing!</span><br /><br />
	<span>The Pixiboard Team</span><br /><br /> 	
    	<%= render :partial=>'shared/mail_footer' %>
  </body>
</html>

