<!DOCTYPE html>
<html>
<head> 
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
  <body> 	
    	<%= render :partial=>'shared/mail_header' %><br /><br />
	Hi <%= @listing.seller_first_name %>,<br /><br />
    	<span style="height:30px;">
  		Your pixi was denied for viewing on Pixiboard due to <%= @listing.explanation %>.
		Please update your pixi at <%= seller_listings_url %> and resubmit. </span><br /><br />

	<span style="margin-top:20px;">Keep on Pixing!</span><br /><br />
	<span>The Pixiboard Team</span><br /><br /> 	
    	<%= render :partial=>'shared/mail_footer' %>
  </body>
</html>

