<!DOCTYPE html>
<html>
<head> 
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
  <body> 	
    	<%= render :partial=>'shared/mail_header' %><br /><br />
	Hi <%= @user.first_name %>,<br /><br />

    	<span style="height:20px;">
  	  You have pixis expiring in <%= @number_of_days %> days.<br /><br />

      Please log into Pixiboard to <%= link_to('review your pixis', seller_listings_url(status: 'active')) %> and update or re-post.  </span><br /><br />

    <span style="margin-top:10px;">Keep on Pixing!</span><br /><br />
	<span>Pixiboard</span><br /><br /> 	
    	<%= render :partial=>'shared/mail_footer' %>
  </body>
</html>

