<!DOCTYPE html>
<html>
<head> 
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
    <%= render :partial=>'shared/mail_header' %><br /><br />
    Hi <%= @user.first_name %>,<br /><br />

    <span style="height:30px;">
        Thanks for subscribing!
        <br /><br />
        This is your receipt for your <%= @plan.name %> plan.
        <br /><br />
        ======================================
        <br />
        Bill to:
        <%= @user.name %>
        <br />
        <%= "Pixiboard #{@plan.name} Plan" %> - <%= Date.today.at_beginning_of_month %>
        <br />
        Total: $<%= @plan.price %>
        <br /><br />
        Your next billing date will be <%= Date.today.at_beginning_of_month.next_month %>.
        <br /><br />
        If you have any questions, please reply to <%= mail_to 'support@pixiboard.com' %>.
    </span><br /><br />

    <span>The Pixiboard Team</span><br /><br />
    <%= render :partial=>'shared/mail_footer' %>
</body>
</html>

