<!DOCTYPE html>
<html>
<head> 
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
  <body> 	
    	<%= render :partial=>'shared/mail_header' %>
    	  <span style="height:30px;">
	    Somebody is asking us a question!<br><br>
	    Inquiry Type: <%= @inquiry.contact_type %><br>
	    Inquiry Subject: <%= @inquiry.subject %><br>
	    Inquiry #: <%= @inquiry.id %><br>
	    Details: <%= @inquiry.comments %><br>
  	  </span>
	<br />

	<span style="margin-top:20px;">Let's get on it!</span><br /><br />
	<span>The Pixiboard Team</span><br /><br /> 	
    	<%= render :partial=>'shared/mail_footer' %>
  </body>
</html>

