<!DOCTYPE html>
<html>
<head> 
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
  <body> 	
    	<%= render :partial=>'shared/mail_header' %><br /><br />
	Hello Fellow Pixans,<br /><br />
	
    	<span style="height:30px;">
    <% if @listing.pixi_post? %>
	    Pixter <%= @listing.pixter_name %> has submited pixi for seller <%= @listing.seller_name %>
    <% else %>
        Seller <%= @listing.seller_name %> has submitted a pixi
    <% end %>
        for approval.
    </span>
	<br />
    <br />

    <%= link_to("Let's get on it", get_pending_listing_url , html_options = {}) %>
    <br />

	<span>The Pixiboard Team</span><br /><br /> 	
    	<%= render :partial=>'shared/mail_footer' %>
  </body>
</html>

