<div class='fields'>  
  <tr>
    <td class='width120'>
      <%= f.select :quantity, options_for_select(get_ary, f.object.quantity), {}, {id: 'inv_qty1', class: 'pixi-select'} %>
      <%= f.hidden_field :amt_left, id: 'amt_left1', value: get_amt_left(f.object.amt_left, invoice, f.object.pixi_id) %>
    </td>
    <td class="width360"><%= render partial: 'shared/active_listings', locals: {f: f, model: @user, pid: invoice.pixi_id} %></td>
    <td class="width120"><%= f.text_field :price, in: 0..MAX_PIXI_AMT, step: 0.01, id: 'inv_price1', value: num_display(f.object, "price"), 
      class: 'price' %></td>
    <td class="border-right width120">
      <%= f.text_field :subtotal, id: 'inv_amt1', value: num_display(f.object, "subtotal"), readonly: true, class: 'price' %>
    </td>
    <%= show_row_buttons f %>
  </tr>
</div>
