<div id="mform">
  <%= form_for([resource_name, resource.with_picture], url: registration_path(resource_name), html: {"data-ajax"=>false}) do |f| %>
    <%= render partial: 'mobile/error_messages', :locals => { :target => f.object } %>
    <div class='mtop'>
      <%= render partial: 'mobile/show_user_photo', locals: { f: f, model: resource, file_name: 'person_icon.jpg' } %>
    </div>
    <table>
      <%= render partial: 'mobile/user_name_email', locals: {f: f} %>
      <tr>
        <td><%= f.password_field :password, placeholder: 'Password', size: 20 %></td>
        <td><%= f.password_field :password_confirmation, placeholder: 'Re-enter password' %></td>
      </tr>
      <%= render partial: 'mobile/user_profile', locals: {f: f} %>
    </table>
		
    <p><%= f.submit "Register", "data-theme"=>"b" %></p>
    <div class='sdescr'>By registering, I accept <%= link_to "Pixiboard's Terms of Service and Privacy Policy", '#' %>.</div>
    <div class='mtop center-wrapper mbot'>
      <%= link_to "Sign In", new_user_session_path %>
    </div> 
  <% end %>
</div>
