<%= form_for(@temp_listing) do |f| %>
  <% if @temp_listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@temp_listing.errors.count, "error") %> prohibited this temp_listing from being saved:</h2>

      <ul>
      <% @temp_listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.datetime_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :alias_name %><br />
    <%= f.text_field :alias_name %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.number_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :site_id %><br />
    <%= f.number_field :site_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
