<% provide(:title, 'PixiPost Zipcheck') %>
<%= content_for :subhead do %>
  <%= render :partial => 'shared/navbar', locals: { menu_name: set_pixi_post_menu } %>
<% end %>
<%= content_for :topcontent do %>
  <div class='container'>
    <div class='row'>
      <div class='med-top mbot span6'>
        <span class='sm-top pg-title-black'><%= PIXI_POST_CAPTION %></span><br />
      </div>
      <div class='neg-top pull-right sm-bot'>
        <%= image_tag 'rsz_ppost_words_20140314.png', class: 'pixi-logo' %>
      </div>
    </div>
  </div>
<% end %>
<%= content_for :content do %>
  <div class='container'>
    <div class='row v-align'>
      <div class='span7'>
        <%= image_tag 'rsz_ppost_howitworks_share.png', class: 'ppost_img' %>
      </div>
      <div class='big-top span4'>
        <%= render partial: 'shared/zipcheck' %>
      </div>
    </div>
  </div>
<% end %>

