<% provide(:title, 'Sign Up') %>
<%= content_for :content do %>
  <div class="center">
    <h2>Create Your Account</h2>
  </div>

  <div class="sm-top row">
    <%= form_for([resource_name, resource.with_picture], :url => registration_path(resource_name)) do |f| %>
      <%= render partial: 'shared/error_messages', :locals => { :target => resource } %>

      <div class="span4 center-wrapper" id="usr_photo">
        <div><output id='list'><%= image_tag 'person_icon.jpg', :class => "usr-photo" %></output></div>
        <%= render partial: 'shared/user_photo', locals: { f: f } %>
      </div>

      <div class="span5">
        <div id='signup'>
          <%= render partial: 'shared/user_info', locals: { f: f } %>
    	  <div><%= f.password_field :password, placeholder: 'New password' %></div>
    	  <div><%= f.password_field :password_confirmation, placeholder: 'Re-enter password' %></div>
        </div>

    	<div class='mtop mbot'><%= f.submit "Register", class: "btn btn-large btn-primary submit-btn" %></div>
      </div>
    <% end %>
  </div>
<% end %>
