C<div class="control-group">
  <label class="control-label">Routing #</label>
  <div class='controls'>
    <%= f.text_field :routing_number, :size => 16, placeholder: 'Routing Number', id: 'routing_number', required: true %></div>
  <label class="control-label">Account #</label>
  <div class='controls'>
    <%= f.text_field :acct_number, :size => 16, placeholder: 'Account Number', id: 'acct_number', required: true %></div>
  <label class="control-label">Account Name</label>
  <div class='controls'><%= f.text_field :acct_name, :size => 30, placeholder: 'Account Name', required: true %></div>
  <label class="control-label">Description</label>
  <div class='controls'><%= f.text_field :description, :size => 60, placeholder: 'Description', required: true %></div>
  <label class="control-label">Account Type</label>
  <div class='controls'><%= f.select :acct_type, options_for_select(['checking', 'savings'], selected: account.acct_type ), {},
      		{placeholder: 'Account Type'} %></div>
  <div class='med-top clear-all'></div>
  

  <label class="control-label">Country</label>
  <div class='controls'><%= f.select :country_code, options_for_select(['us'], selected: account.country_code ), {},
      		{placeholder: 'Country', class: 'sm-top'} %></div>
  <div class='med-top clear-all'></div>

  <label class="control-label">Currency</label>
  <div class='controls'><%= render partial: 'shared/currency_type', locals: {acc: account} %></div>


</div>
