<div class='center'>
  <h2>Setup Your Payment Account</h2>
</div>
  <div class="row">
    <%= form_for(@account, url: set_account_path, html: { id: 'bank-acct-form', class: "form-horizontal uform" }, :remote=>true) do |f| %>
      <div id="form_errors"><%= render partial: 'shared/error_messages', locals: { :target => f.object } %></div>
      <div id="data_error" style="display:none" class="error"></div>

      <div class="sm-top span6 offset3">
        <div id='signup'>
	    <div class="control-group">
	      <label class="control-label">Routing #</label>
	      <div class='controls'><%= f.text_field :routing_number, :size => 16, placeholder: 'Routing Number', id: 'routing_number' %></div>
	      <label class="control-label">Account #</label>
	      <div class='controls'><%= f.text_field :acct_number, :size => 16, placeholder: 'Account Number', id: 'acct_number' %></div>
	      <label class="control-label">Account Name</label>
	      <div class='controls'><%= f.text_field :acct_name, :size => 30, placeholder: 'Account Name' %></div>
	      <label class="control-label">Description</label>
	      <div class='controls'><%= f.text_field :description, :size => 60, placeholder: 'Description' %></div>
	      <label class="control-label">Account Type</label>
	      <div class='controls'><%= f.select :acct_type, options_for_select(['checking', 'savings'], selected: @account.acct_type ), {},
	      		{placeholder: 'Account Type'} %></div>
	    </div>
        </div>
      </div>
      <%= f.hidden_field :user_id, value: @user.id %>
      <%= f.hidden_field :token, id: 'pay_token' %>
      <%= f.hidden_field :acct_no %>

      <div class="span4 offset5 mbot"><%= f.submit set_btn_name, class: "btn btn-large btn-primary submit-btn" %></div>
    <% end %>

    <div class="span4 offset5 sm-top mbot"><%= image_tag "check_sample.gif" %></div>
  </div>

