<div class="div-border">
  <div class='offset3 addr-tbl' style="<%= !txn.has_address? ? 'display:none' : '' %>">
    <h5 class="grp-hdr">Buyer Information</h5>
    <table>
      <tr><td class='span3'><%= txn.buyer_name %><br>
        <%= txn.address %><br>
        <%= "#{txn.city}, #{txn.state} #{txn.zip}" %></td>
        <td class='v-align price'><%= link_to 'Change', '#', id: 'edit-txn-addr', class: 'offset2 btn' %></td>
      </tr>
    </table>
  </div>
  <div class='sm-top center-wrapper user-tbl' style="<%= txn.has_address? ? 'display:none' : '' %>">
    <table>
      <tr>
	<td class="width360"><label class='tbl-hdr'>First Name*</label><%= f.text_field :first_name, id: "first_name" %></td>
	<td class="width80"></td>
	<td><label class='tbl-hdr'>Last Name*</label><%= f.text_field :last_name, id: "last_name" %></td>
      </tr>
      <%= render :partial => 'shared/user_address', :locals => { :form => f, :toggle => true } %>
    </table>
  </div>
</div>
