<div class="div-border">
  <div class='offset3 addr-tbl' style="<%= !@transaction.has_address? ? 'display:none' : '' %>">
    <h5 class="grp-hdr">Buyer Information</h5>
    <table>
      <tr><td class='span3'><%= @transaction.buyer_name %><br>
        <%= @transaction.address %><br>
        <%= "#{@transaction.city}, #{@transaction.state} #{@transaction.zip}" %></td>
        <td class='v-align price'>
        <%= link_to 'Change', '#', id: 'edit-txn-addr', class: 'offset2 btn btn-primary stnd-btn' %></td>
      </tr>
    </table>
  </div>
  <center>
    <table class='sm-top user-tbl' style="<%= @transaction.has_address? ? 'display:none' : '' %>">
      <tr>
	<td class="width360"><label>First Name*</label><%= f.text_field :first_name, id: "first_name" %></td>
	<td class="width80"></td>
	<td><label>Last Name*</label><%= f.text_field :last_name, id: "last_name" %></td>
      </tr>
      <%= render :partial => 'shared/user_address', :locals => { :form => f, :toggle => false } %>
    </table>
  </center>
</div>
