<div class='center'>
  <h2>Setup Your Card Account</h2>
</div>
<div class="row">
  <%= form_for(account, html: { id: 'card-acct-form', class: "form-horizontal uform" }) do |f| %>
    <div id="form_errors"><%= render partial: 'shared/error_messages', locals: { :target => f.object } %></div>
    <div id="data_error" style="display:none" class="error"></div>
    <div class="sm-top span6 offset3">
      <div id='signup'>
        <%= render partial: 'shared/card_account_fields', locals: {f:f, account: account} %>
      </div>
      <%= f.hidden_field :user_id, value: @user.id %>
      <%= f.hidden_field :token, id: 'pay_token' %>
      <%= f.hidden_field :card_no %>
      <div class="span4 offset5 mbot">
        <%= f.submit 'Save', id: 'cardForm', class: "btn btn-large btn-primary submit-btn" %>
      </div>
    </div>
  <% end %>
</div>
