<div class="item">
  <div class="center-wrapper">
    <%= render partial: 'shared/show_picture', locals: {psize: 'thumb', model: category} %>
    <div class='sm-top bdescr'>
      <% if can?(:manage_users, @user) %> 
        <%= link_to category.name_title, edit_category_path(category), remote: true %>
      <% else %>
        <%= category.name_title %>
      <% end %>
    </div>
    <div class='sm-top gdescr'>
      <div class='item-cat pixi-grey-bkgnd'>
        <%= pixi_link(category, @loc) %>
      </div>
      <div class='item-dt pixi-grey-bkgnd'>
        <%= link_to "More...", "#", id: 'more-btn' if category.subcats? %>
      </div>
    </div>
  </div>
</div>
