<li id="<%= comment.id %>">
  <%= render partial: 'shared/show_picture', locals: {psize: 'tiny', model: comment.user} %>
  <div class='span4'>
    <div class='sender'>
      <%= comment.sender_name %>
      <span class="timestamp">
        Posted <%= ts_in_words(comment.created_at) %>.
      </span>
    </div>
    <span class="content"><%= comment.summary %><%= link_to ' more...', '#', class: 'moreBtn' if comment.long_content? %></span>
    <span class='fcontent' style="display: none"><%= comment.full_content %></span>
  </div>
  <div class='clear-all'></div>
</li>
