<% cache [comment, @user] do %>
<li id="<%= comment.id %>">
  <div class='span6 no-left black-txt'>
    <div class='no-left span5'>
      <table class='helv-bold'>
        <tr><td class='width180'><%= comment.sender_name %></td>
        <td class="mleft20 timestamp">Posted <%= ts_in_words(comment.created_at) %>.</td></tr>
      </table>
      <span class="tiny-top content"><%= strip_links comment.full_content %>
    </div>
    <div class='span1'>
      <div class='pull-right'>
        <%= render partial: 'shared/show_picture', locals: {psize: 'tiny', model: comment.user} %>
      </div>
    </div>
  </div>
  <div class='clear-all'></div>
</li>
<% end %>
