<%= form_for setup_comment(listing), remote: true, id: 'comment-doc', data: {validate: 'parsley'} do |f| %>
  <div id="comment_notice" style="display:none"></div>
  <div id="comment_errors"><%= render partial: 'shared/error_messages', :locals => { :target => f.object } %></div>
  <%= f.hidden_field 'pixi_id', value: listing.pixi_id %>
  <%= f.hidden_field 'user_id', value: @user.id %>
  <div id="cmnt_content">
    <%= f.text_area 'content', placeholder: 'Add a comment to item...', class: 'span5', required: true %>  
    <%= f.submit 'Send', class: 'btn btn-small btn-primary', data: {disable_with: 'Sending...'} %>
  </div>
<% end %>
