<% cache conversation do %>
<li id="<%= conversation.id %>">
  <table>
    <td width="5%">
      <%= render partial: 'shared/show_photo', locals: {model: set_poster(conversation, sentFlg), file_name: "myimage", psize: '80x80', display_cnt: 0 } %>
    </td>
    <td width="8%">
      <div class='sender'>
        <%= set_poster(conversation, sentFlg).name %>
      </div>
    </td>
    <td width="15%">
      <div>
        <% if conversation.replied_conv?(@user) %> 
          RE:
        <% end %>
        <%= link_to conversation.listing.title, conversation.listing, class: '' %>
        <% if conversation.posts.count > 1 %> (<%= conversation.posts.count %>) <% end %>
        <%= image_tag set_msg_icon(conversation.posts.first), class: 'left-form' unless conversation.posts.first.sender? @user %>
      </div>
    <td width="30%">
      <span class="content">
        <% if conversation.any_unread? @user %>
          <% if conversation.posts.first.content.length > 35 %>
            <b><%= conversation.posts.first.summary_custom(35) %>...</b>
          <% else %>
            <b><%= conversation.posts.first.summary_custom(35) %></b>
          <% end %>
        <% else %> 
          <% if conversation.posts.first.content.length > 35 %>
            <%= conversation.posts.first.summary_custom(35) %>...
          <% else %>
            <%= conversation.posts.first.summary_custom(35) %>
          <% end %>
        <% end %>
      </span>
    </td>
    <td width="20%">
      <span class="timestamp">
      <%= short_date(conversation.posts.first.created_at) %> at <%= short_time(conversation.posts.first.created_at) %>
      </span>
    </td>
    <td>
      <table>
       <td> 
         <%= link_to "Show", conversation_path(conversation.id, conversation: { pixi_id: conversation.pixi_id } ), class: 'btn btn-small' %>
       <td>
        <% if conversation.invoice != nil && conversation.invoice.status == 'unpaid' && conversation.invoice.buyer == @user %>
          <%= link_to "Pay", invoice_path(conversation.invoice.id), class: 'btn btn-small' %>
        <% end %>
       </td>
       <td>
         <% if conversation.can_bill? @user %> 
           <%= link_to "Bill", get_invoice_path, class: 'btn btn-small' %>
         <% end %>
        </td>
        <td>
          <%= link_to "Delete", remove_conversation_path(conversation.id), :method => :put, confirm: 'Delete this conversation?', class: 'btn btn-small' %>
        </td>
      </table>
    </td>
  <table>
  <div class='clear-all'></div>
</li>
<% end %>
