  <%= form_for setup_post(listing), remote: true, class: 'width320', data: {validate: 'parsley'} do |f| %>
    <div id="notice" style="display:none"></div>
    <div id="form_errors">
      <%= render partial: 'shared/error_messages', :locals => { :target => f.object } %>
    </div>

    <%= f.hidden_field 'pixi_id', value: listing.pixi_id %>
    <%= f.hidden_field 'recipient_id', value: listing.seller_id %>
    <%= f.hidden_field 'user_id', value: @user.id %>

    <div class="reply_form">
      <%= f.text_area 'content', value: PIXI_POST, placeholder: 'Send message to seller.', autofocus: true, id: 'contact_content', class: 'span4',
        required: true %>  
      <div class='contact-str'>Press Enter to send</div>
      <%= f.submit 'Contact', :class=>'btn btn-warning', id: 'contact-btn' %>
    </div>
  <% end %>
