  <div class="row">
    <%= form_for(@user, url: user_path(@user, target: 'shared/edit_password'), :html => { method: :put, class: 'uform' }, remote: true) do |f| %>
      <div id="form_errors"><%= render partial: 'shared/error_messages', :locals => { :target => @user } %></div>

      <div class="sm-top span4 offset4">
        <div id='signup'>
          <div><%= f.password_field :password, :autofocus => true, placeholder: "New password", :autocomplete => "off" %></div>
          <div><%= f.password_field :password_confirmation, placeholder: "Confirm new password" %></div>
        </div>

        <div><%= f.submit "Change Password", class: "btn btn-large btn-primary submit-btn" %></div><br />
      </div>
    <% end %>
  </div>

