  <div class='row'>
    <div class='span2 mtop'>
      <%= link_to "About", about_path, class: 'white-browse-link' %><br />
      <%= link_to "Contact", contact_path, class: 'white-browse-link' %><br />
      <%= link_to "Help", help_path, class: 'white-browse-link' %>
    </div>
    <div class='span2 mtop'>
      <%= link_to "PixiChat", '/howitworks#pxboard', class: 'white-browse-link' %><br />
      <%= link_to "PixiPay", '/howitworks#pxpay', class: 'white-browse-link' %><br />
      <%= link_to "PixiPost", '/howitworks#pxpost', class: 'white-browse-link' %>
    </div>
    <div class='span1 mtop'>
      <%= link_to "Privacy", privacy_path, class: 'white-browse-link' %><br />
      <%= link_to "Careers", career_path, class: 'white-browse-link' %><br />
      <%= link_to "Terms", terms_path, class: 'white-browse-link' %>
    </div>
  </div>
