<% provide(:title, page_title) %>
<%= content_for :subhead do %>
  <%= render partial: 'shared/navbar', locals: { menu_name: page_title } %>
<% end %>

<%= content_for :content do %>
  <div id="pxboard">
    <%= render 'shared/listings' %>
  </div> 

  <nav id="px-nav">
    <%= render 'shared/listing_next_page' %>
  </nav>

  <div class='span1'>
    <%= link_to 'Scroll', '#', class: 'scrollup' %>
  </div>
<% end %>
