<% provide(:title, page_title) %>
<%= content_for :subhead do %>
  <%= render partial: 'shared/navbar', locals: { menu_name: page_title } %>
<% end %>
<%= content_for :content do %>
  <div id="pxboard">
    <%= render partial: 'shared/listing', collection: @listings %>
  </div> 

  <nav id="px-nav" class='center-wrapper nxt-pg-spinner'>
    <%= link_to "Next", {controller: "listings", action: atype, page: @page.to_i+1}, class: 'nxt-pg' %>
  </nav>

  <%= link_to 'Scroll', '#', class: 'scrollup' %>
<% end %>
