<% provide(:title, page_title) %>
<%= content_for :subhead do %>
  <%= set_index_menu btype, menu_name, @loc_name || @listing.loc_name %>
<% end %>
<%= content_for :top_banner do %>
  <div id='tbanner'><%= set_banner(btype) %></div>
<% end %>
<%= content_for :feature_banner do %>
  <div id='fbanner'><%= set_featured_banner(model, btype) %></div>
<% end %>
<%= content_for :content do %>
  <div id="pxboard"><%= render_board model %></div> 
  <nav id="px-nav"><%= render set_init_next_page_path %></nav>
  <div class='span1 sm-bot'><%= link_to 'Scroll', '#', class: 'scrollup clear-link' %></div>
<% end %>
