<%= form_for(setup_inv(invoice)) do |f| %>
  <%= render partial: 'shared/invoice_top', locals: { f: f, invoice: invoice } %>
  <div class="row">
    <div class="sm-top span12">
      <%= render partial: 'shared/invoice_item', locals: { f: f, invoice: invoice } %>
      <div class='clear-all'></div>
      <div class='span4'>
	<label class="sm-top control-label">Comments:</label>
        <%= f.text_area :comment, class: 'width360' %>
      </div>
      <%= f.hidden_field :buyer_id %>
      <%= f.hidden_field :inv_date, value: Time.now  %>
      <%= f.hidden_field :seller_id, value: @user.id %>
      <%= f.submit "Send", class: "btn btn-large btn-primary submit-btn pull-right", id: "send-btn" %>
    </div>
  </div>
<% end %>
