<div class="row">
  <%= form_for(@invoice, remote: true ) do |f| %>
    <div id="notice"><%= render partial: 'layouts/notices' %></div>
    <div id="form_errors"><%= render partial: 'shared/error_messages', locals: { target: f.object } %></div>

    <div class="sm-top span12">
      <div id=''>
	<div class="control-group">
	  <label class='control-label'>From: <%= @user.name %></label>
	  <label class='control-label'>Date: <%= get_local_date(Time.now) %></label>
	  <label class="sm-top control-label">Bill To:</label>
	  <div class='width360'>
	    <%= autocomplete_field_tag 'buyer_name', @invoice.buyer_name, autocomplete_user_first_name_invoices_path,
	        :update_elements => { :id => '#invoice_buyer_id' }, :placeholder => 'Buyer Name' %> 
          </div>
        </div>
        <%= render partial: 'shared/invoice_item', locals: { f: f } %>
        <div class='clear-all'></div>
	<label class="sm-top control-label">Comments:</label>
        <%= f.text_area :comment, class: 'width360' %>
        <%= f.hidden_field :buyer_id %>
        <%= f.hidden_field :inv_date, value: Time.now  %>
        <%= f.hidden_field :seller_id, value: @user.id %>

        <%= f.submit "Send", class: "btn btn-large btn-primary submit-btn pull-right", id: "send-btn" %>
      </div>
    </div>
  <% end %>
</div>



