<tr>
  <td class='width80'>
    <%= render partial: 'shared/show_photo', locals: {model: invoice.listing, file_name: "inv-pic", psize: '80x80', display_cnt: 0 } %>
  </td>
  <td class='width80'><div class='price'><%= link_to invoice.id, invoice, remote: true %></div></td>
  <td class='width180'><%= invoice.buyer.name %></td>
  <td class='width280'><%= link_to invoice.listing.title, invoice.listing, class: 'pending_title' %></td>
  <td class='width120'><div class='price'><%= number_to_currency(invoice.amount) %></div></td>
  <td><%= invoice.status.titleize %></td>
</tr>
