<tr>
  <td class='span1'>
    <div class='pull-right'><%= show_photo invoice.listings.first, 0, "tip-image", '80x80' %></div>
  </td>
  <td class='span1'><div class='price'><%= link_to invoice.id, invoice, remote: true %></div></td>
  <td class='span2'><%= display_name(invoice) %></td>
  <td class='span4'><%= link_to inv_title(invoice), invoice.listings.first, class: 'pending_title' %></td>
  <td class='span1'><div class='price'><%= ntc(get_invoice_total invoice) %></div></td>
  <td class='span1 center-wrapper'><%= invoice.nice_status %></td>
  <td class='span1 center-wrapper'><%= link_to 'Details', invoice, class: 'btn btn-small' %></td>
</tr>
