<% cache cache_key_for_pixi_page(listing, 'body') do %>
  <div class="mtop row">
      <div class='span12 mtop'>
        <% if listing.event? %>
          <div class='span3'>Start Date: <%= short_date listing.event_start_date %></div>
          <div class='span3'>End Date: <%= short_date listing.event_end_date %></div>
          <div class='span2'>Start Time: <%= short_time listing.event_start_time %></div>
          <div class='offset1 span2 mbot'>End Time: <%= short_time listing.event_end_time %></div>
          <div class='span4 mbot'>Event Type: <%= listing.event_type_descr %></div><br />
        <% end %>
      </div>
  </div>

  <div class="row">
    <div class="span12 mbot">
        <%= simple_format(listing.summary, {}, sanitize: false) %><br />

        <%= "Condition: #{listing.condition}" if is_item?(listing) %>
        <%= "Quantity: #{listing.quantity}" if is_item?(listing, false) %><br />
        <%= "Year: #{listing.year_built}" if has_year?(listing) %>
        <% if listing.job? %>
          Job Type: <%= listing.job_type_name %>
	  Compensation: <%= listing.compensation %><br />
        <% end %>
        <% if listing.is_category_type?('product') %>
          <%= "Product Code: #{listing.other_id}" if listing.other_id %>
          <%= "Color: #{listing.color}" if listing.color %>
          <%= "Size: #{listing.item_size}" if listing.item_size %>
        <% end %>
        <% if listing.is_category_type?('vehicle') %>
          <%= "VIN #: #{listing.other_id}" if listing.other_id %>
          <%= "Mileage: #{listing.mileage}" if listing.mileage %><br />
          <%= "Color: #{listing.color}" if listing.color %><br />
        <% end %>
    </div>
  </div>
<% end %>
