<div class='row' id='product-fields' style="<%= set_style(!listing.is_category_type?('product')) %>">
  <div class='span3'>
    <%= f.label :item_color, 'Color(s)', class: 'med-top' %>
    <%= f.text_field :item_color, value: listing.item_color, placeholder: 'Enter item_color(s)' %>
  </div>
  <div class='span2'>
    <%= f.label :product_size, 'Size(s)', class: 'med-top' %>
    <%= f.text_field :product_size, value: listing.product_size, placeholder: 'Ex. L or 8 1/2' %>
  </div>
  <div class='span2'>
    <%= f.label :item_id, 'Product Code', class: 'med-top' %>
    <%= f.text_field :item_id, value: listing.item_id, size: 25, placeholder: 'Enter Product Code' %>
  </div>
</div>

