<% provide(:title, "#{step_name}") %>
  <%= render partial: 'shared/listing_header', :locals => { step_no: 1, step_name: step_name } %>
  <%= form_for(@listing, :html => { :multipart => true, id: 'pixi-form' }) do |f| %>
    <div class="div-border">
      <%= render partial: 'shared/error_messages', :locals => { :target => @listing } %>
      <%= render partial: 'shared/listing_fields', :locals => { f: f } %>

      <%= f.hidden_field :start_date, value: Time.now %>
      <%= f.hidden_field :seller_id, value: @user.id %>
    </div>

    <div class="nav pull-right">
      <%= f.submit "Next Step: Review >>", class: "btn btn-large btn-primary submit-btn" %>
    </div>
  <% end %>
