      <table>
	<tr>
	  <td>
	  <%= render partial: 'shared/edit_photo_form', locals: {model: @listing, psize: 'thumb', form: f, remove_photo: true } %>
	  </td>
	</tr>
	<tr>
	  <td><div class=''>Add photo(s)</div><output id='list'><%= image_tag 'photo-camera.png', class: 'thumb' %></output>
	   <%= render partial: 'shared/photo', locals: { f: f } %></td>
	</tr>
	<tr>
	  <td><%= f.label :title %><%= f.text_field :title, :autofocus => true %></td>
	  <td class='width30'></td>
    	  <td><%= f.label :price %>
	    <%= f.text_field :price, :size => 10, :value => number_with_precision(f.object.send("price"), :precision=>2), class: 'width120' %></td>
	</tr>
	<tr>
    	  <td><%= f.label :site_id, 'Site' %>
	    <%= f.collection_select :site_id, Site.active, :id, :name, {:prompt => 'Select'} %></td>
	  <td class='width30'></td>
    	  <td><%= f.label :category_id, 'Category' %>
	    <%= f.collection_select :category_id, Category.active, :id, :name, {:prompt => 'Select'} %></td>
	</tr>
	<tr>
    	  <td><%= f.label :description %><%= f.text_area :description %></td>
	</tr>
      </table>
