<div id='slr-pic' class='span1 no-left'>
  <%= render partial: 'shared/show_picture', locals: {psize: 'small', model: listing.user} %>
</div>
<div id='slr-det' class='span5'>
  <div class='valign'>
    Posted By: <%= listing.seller_name %> 
    <div class="sm-top rateit smpixis" data-rateit-value="<%= get_rating listing.user %>" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
    <%= "(#{nth(listing.seller_rating_count)})" %>
  </div>
  <div class='clear-all'></div>
  <% unless !listing.active? || listing.seller?(@user) %>
    <div class='panel_errors'></div>
    <div id='px-panel' class='sm-top sm-bot'>
      <%= render partial: 'shared/listing_panel', locals: {listing: listing} %>
    </div>
    <div id='post_form' style='display:none'><%= render partial: 'shared/contact', locals: { listing: listing } %></div>
  <% end %>  
  <% if show_metric_panel? listing %>
    <div id='met-panel' class='sm-top sm-bot'>
      <%= render partial: 'shared/metric_panel', locals: {listing: listing} %>
    </div>
  <% end %>  
</div>

