<%= render partial: 'shared/edit_photo_form', locals: {model: listing, psize: 'sm-thumb', form: f, remove_photo: true } %>
<div class='row'>
  <div class='span2'>Add photo(s)</div>
  <div id='add-pixi-photo' class='span10'>
    <output id='list'><%= image_tag 'photo-camera.png', class: 'sm-thumb', id: 'pixi-camera-icon' %></output>
    <div class='clear-all'></div>
    <div class='width120 clear-left'>
    <%= render partial: 'shared/photo', locals: { f: f } %>
    </div>
  </div>
</div>
<%= render partial: 'shared/listing_seller_fields', locals: { f: f, listing: listing } if listing.pixi_post? && !listing.edit? %>
<div class='row'>
  <div class='span7'>
    <%= f.label :title %><%= f.text_field :title, :placeholder => 'Enter Pixi Title', required: true %>
  </div>
  <div id='cat-fld' class='span4'>
    <%= f.label :category_id, 'Category' %>
    <%= f.collection_select :category_id, Category.active, :id, :name_title, {:prompt => 'Select'}, {class: 'pixi-select', required: true} %>
  </div>
  <div class='span2' id='job-fld' style="<%= !listing.job? ? 'display:none' : '' %>"><%= f.label :job_type, 'Job Type' %>
    <%= f.collection_select :job_type_code, JobType.active, :code, :job_name, {:prompt => 'Select'}, {class: 'pixi-select'} %>
  </div>
</div>
<div class='row' id='input-form'>
  <div class='span7'>
    <%= f.label :site_id, 'Location' %>
    <%= autocomplete_field_tag 'site_name', listing.site_name, autocomplete_site_name_temp_listings_path,
	        :update_elements => { :id => '#site_id' }, :placeholder => 'Enter School, City or Neighborhood', required: true %> 
    <%= f.hidden_field :site_id, id: 'site_id', required: true %>
  </div>
  <div class='span2' id='price-fld' style="<%= listing.job? ? 'display:none' : '' %>"><%= f.label :price, 'Price $' %>
    <%= f.number_field :price, step: 0.01, size: 10, value: num_display(f.object, "price"), class: 'width120', placeholder: 'Ex. 50.00' %>
  </div>
  <div class='span2' id='yr-fld' style="<%= !listing.has_year? ? 'display:none' : '' %>"><%= f.label 'Year' %>
    <%= f.select 'year_built', options_for_select(get_year_ary, :selected => listing.year_built), {:prompt => 'Select'}, 
          {id: 'yr_built', class: 'pixi-select'} %></div>
  <div class='span4' id='comp-fld' style="<%= !listing.job? ? 'display:none' : '' %>"><%= f.label :compensation %>
    <%= f.text_field :compensation, id: 'salary' %></div>
</div>
<div class='row' id='event-fields' style="<%= !listing.event? ? 'display:none' : '' %>">
  <div class='span2'> 
    <%= f.label :event_start_date, 'Start Date', class: 'med-top' %>
    <%= f.text_field :event_start_date, value: listing.event_start_date, size: 10, id: "start-date", required: listing.event? %>
  </div>
  <div class='offset1 span2'>
    <%= f.label :event_end_date, 'End Date', class: 'med-top' %>
    <%= f.text_field :event_end_date, :value => listing.event_end_date, size: 10, id: "end-date", required: listing.event?  %>
  </div>
  <div class='offset1 span2'>
    <%= f.label :event_start_time, 'Start Time', class: 'med-top' %>
    <%= f.time_select :event_start_time, { :combined => true, :default => Time.now.change(:hour => 12), ampm: true, 
    	  :minute_interval => 15, :time_separator => "" }, :id=>'start-time', :class=>'pixi-select' %>
  </div>
  <div class='offset1 span2'>
    <%= f.label :event_end_time, 'End Time', class: 'med-top' %>
    <%= f.time_select :event_end_time, { :combined => true, :default => Time.now.change(:hour => 12), ampm: true, 
    	  :minute_interval => 15, :time_separator => "" }, :id=>'end-time', :class=>'pixi-select' %>
  </div>
</div>
<div class='row'>
  <div class='span11'>
    <%= f.label :description, class: 'med-top' %><%= f.text_area :description, :placeholder => 'Describe Your Pixi', required: true %>
  </div>
</div>
