<tr>
  <td class='center-wrapper'>
    <%= render partial: 'shared/show_photo', locals: {model: listing, file_name: "star.jpg", psize: '80x80', display_cnt: 0 } %>
  </td>
  <% if listing.pending? %>
    <td><%= link_to listing.nice_title, pending_listing_path(listing), class: 'pending_title' %></td>
  <% else %>
    <td><%= link_to listing.nice_title, listing, class: 'pending_title' %></td>
  <% end %>
  <td class='width280'><%= listing.brief_descr %></td>
  <td><%= listing.status %></td>
  <td><%= time_ago_in_words(listing.updated_at) %> ago</td>
</tr>
