<div id='biz_fields' class='row' style='<%= set_style(bus_pixi?) %>'>
  <div class='span3'>
    <%= f.label :fulfillment_type_code, 'Delivery Type' %>
    <%= f.collection_select :fulfillment_type_code, FulfillmentType.unhidden,
        :code, :description, {selected: set_ftc(@user) },
        {id: 'fulfill_type', class: 'pixi-select', required: !bus_pixi?} %>
    <%= toggle_hidden_ftc_field(f) %>
  </div>
  <div class='span2'>
    <div class='pull-left'><%= f.label :sales_tax, 'Sales Tax (%)' %></div>
    <div class='right-form ng-top'>
      <%= render partial: 'shared/tooltip', locals: { msg: SALES_TAX_MSG } %>
    </div>
    <%= f.text_field :sales_tax, in: 0..MAX_SALES_TAX, step: 0.01,
        value: set_sales_tax(@user), id: 'inv_tax', class: 'price' %>
  </div>
  <div id='ship_cost' class='span2'>
    <%= f.label :est_ship_cost, 'Est Ship Amt' %>
    <%= f.text_field :est_ship_cost, in: 0..MAX_SHIP_AMT, step: 0.01,
        value: set_ship_amt(@user), id: 'ship_cost_box', class: 'price', required: bus_pixi? %>
  </div>
  <div class='span1'>
    <%= toggle_buy_now(f, @user) %>
  </div>
</div>
