<%= show_edit_photo f, listing %>
<%= render partial: 'shared/display_photo_form', locals: { s3Flg: s3Flg } %>
<%= show_seller_fields f, listing %>
<%= render partial: 'shared/listing_fields_top', locals: { f: f, listing: listing } %>
<%= render partial: 'shared/listing_fields_main', locals: { f: f, listing: listing } %>
<%= render partial: 'shared/listing_biz_fields', locals: { f: f } %>
<%= render partial: 'shared/listing_event_fields', locals: { f: f, listing: listing } %>
<%= render partial: 'shared/listing_housing_fields', locals: { f: f, listing: listing } %>
<%= render partial: 'shared/listing_vehicle_fields', locals: { f: f, listing: listing } %>
<%= render partial: 'shared/listing_product_fields', locals: { f: f, listing: listing } %>
<%= render partial: 'shared/listing_item_fields', locals: { f: f, listing: listing } %>
<div class='row'>
  <div class='span11'>
    <%= f.label :description, class: 'med-top' %><%= f.text_area :description, :placeholder => 'Describe Your Pixi', required: true %>
  </div>
</div>
