<% cache cache_key_for_pixi_page(listing, 'body') do %>
  <div class="mtop row">
      <div class='span12 mtop'>
        <% if listing.event? %>
          <div class='span3'>Start Date: <%= short_date listing.event_start_date %></div>
          <div class='span3'>End Date: <%= short_date listing.event_end_date %></div>
          <div class='span2'>Start Time: <%= short_time listing.event_start_time %></div>
          <div class='offset1 span2 mbot'>End Time: <%= short_time listing.event_end_time %></div>
          <div class='span4 mbot'>Event Type: <%= listing.event_type_descr %></div><br />
        <% end %>
      </div>
  </div>

  <div class="row">
    <div class="span12 mbot">
        <%= simple_format(listing.summary, {}, sanitize: false) %><br />

        <% if listing.job? %>
          Job Type: <%= listing.job_type_name %><br />
	  Compensation: <%= listing.compensation %>
        <% end %>
        <% if listing.has_year? && listing.year_built %>
          Year: <%= listing.year_built %>
        <% end %>
    </div>
  </div>
<% end %>
