<div class='span3'>
  <%= show_housing_fields listing %>
  <%= show_top_fields listing %>
  <%= show_job_fields listing %>
  <%= show_event_fields listing %>
</div>
<div class='span3'>
  <%= more_housing_fields listing %>
  <%= show_vehicle_fields listing %>
  <%= show_product_fields listing %>
  <%= show_item_fields listing %>
</div>
