<div class='v-align'>
  <% if listing.user_wanted?(@user) %>
    <%= image_tag 'rsz_check-mark-md.png', class: 'checkmark' %><span class='mleft5'>Want</span>
  <% else %>
    <% unless signed_in? %>
      <%= link_to 'Want', set_want_path(listing.pixi_id), method: 'post', class: 'btn btn-primary submit-btn width100', id: set_want_id, 
        remote: !signed_in?, title: want_msg %>
    <% else %>
      <div id='post_form'><%= render partial: 'shared/contact', locals: { listing: listing } %></div>
    <% end %>
  <% end %>

  <%= link_to set_item_name(listing, 'like'), set_like_path(listing, listing.pixi_id), method: set_item_method(listing, 'like'), 
    class: 'btn btn-primary btn-mask mleft10', id: 'cool-btn', remote: true, title: 'This is cool!' %>
  <span id='cool-cnt'><%= "(#{nth(listing.liked_count)})" %></span>
  <%= link_to set_item_name(listing, 'saved'), set_saved_path(listing, listing.pixi_id), method: set_item_method(listing, 'saved'), 
    class: 'btn btn-primary btn-mask mleft10', id: 'save-btn', remote: true, title: 'Save this for later!' %>
</div>

