<div class="item">
  <div class="center-wrapper">
    <%= link_to listing_path(listing) do %>
      <%= render partial: 'shared/show_photo', locals: {model: listing, file_name: "star.jpg", psize: '150x150', display_cnt: 0 } %>
    <% end %>
    <div class='sm-top bdescr'>
      <%= listing.title %>
    </div>
    <div class='sm-top gdescr'>
      <div class='item-cat pixi-grey-bkgnd' data-cat-id="<%= listing.category.id %>">
        <%= link_to listing.category_name, '#', class: 'pixi-cat', 'data-cat-id'=> listing.category.id %> 
      </div>
     <div class='item-dt pixi-grey-bkgnd'>
       <%= ts_in_words(listing.updated_at) %>
      </div>
    </div>
  </div>
</div>
