<footer class="footer">
  <small class='sm-top'>
    &copy; <%= "#{Date.today.year} #{full_title('')}, Inc." %>
  </small>
  <nav>
    <ul class='sm-top'>
      <li><%= link_to "About", about_path, class: 'pixi-link' %></li>
      <li><%= link_to "Privacy", privacy_path, class: 'pixi-link' %></li>
      <li><%= link_to "Terms", terms_path, class: 'pixi-link' %></li>
      <%= show_help_footer_link %>
      <li><%= link_to "Contact", contact_path, class: 'pixi-link' %></li>
      <%= render 'layouts/footer_image_links' %>
    </ul>
  </nav>
</footer>
