<% provide(:title, 'Manage Pixis') %>
<%= content_for :subhead do %>
  <%= render :partial => 'shared/navbar', locals: { page_title: 'Manage Pixis', atype: 'local', menu_name: 'Manage Pixis' } %>
<% end %>

<%= content_for :content do %>
  <%= render_header model, 'shared/manage_pixis_header', nil, 'sm-top nav pull-right' %>
  <div id="pendingOrder">
    <%= render :partial => 'shared/index_list', locals: {model: model, status: status} %>
  </div>
<% end %>
