<tr>
  <td class='span1 center-wrapper'>
    <%= render partial: 'shared/show_temp_pixi_image', locals: {model: user, pix_size: 'tiny', img_size: 'usr-sm-photo'} %>
  </td>
  <td class='span2'><%= user.business_name %></td>
  <td class='span2'><%= get_user_loc(user) %></td>
  <td class='span2'><div class='price'><%= user.listings.active.count %></div></td>
  <td class='span2'><div class='price'><%= user.followers.where(status: 'active').count %></div></td>
  <td class='span1 center-wrapper'><%= link_to 'View', user.local_user_path, class: 'btn btn-small' %></td>
</tr>
