<% provide(:title, 'Manage Followers') %>
<%= content_for :subhead do %>
  <%= render :partial => 'shared/navbar', locals: { menu_name: 'Manage Followers' } %>
<% end %>

<%= content_for :content do %>
  <div id="pendingOrder">
    <%= render :partial => 'shared/manage_followers_list' %>
  </div>

  <div id="entry-top" class="pg-entry">
    <%= page_entries_info @users, :model => 'sellers' unless @users.blank? %>
  </div>
<% end %>
