<% provide(:title, 'Transactions') %>
<%= content_for :subhead do %>
  <%= render :partial => 'shared/navbar_transactions', locals: { page_title: 'Transactions', atype: 'local', menu_name: 'Transactions' } %>
<% end %>

<%= content_for :content do %>
  <div id="top-header">
    <%= render :partial => 'shared/date_range_list' %>
    <%= render partial: 'shared/report_header', locals: {path: transactions_path(date_range: @date_range, format: "csv")} %>
  </div>
  <div id="txn-list">
    <%= render partial: 'shared/transaction_data', locals: {txn: txn} %>
  </div>
<% end %>
