<div class="div-border">
  <div class='row'>
    <%= render partial: 'shared/manage_pixi_post_dates', locals: {f: f, post: post} %>
    <div class="span3">
      <%= f.hidden_field :editor_id, value: @user.id %>
      <label class="control-label sm-top">Pixter Name</label>
      <%= render partial: 'shared/pixter_list', locals: { post: post } %>
    </div>
  </div>
  <div class='row'>
    <div class='span4'>
      <%= render partial: 'pixi_post_detail_fields', locals: {f: f, post: post} %>
    </div>
    <div class='span7'>
      <label class="sm-top control-label">Comments</label>
      <%= f.text_area :comments, id: 'comments', :placeholder => 'Enter Comments or Notes' %>
    </div>
  </div>
</div>
