<tr>
  <td class='span1 center-wrapper'>
    <%= render partial: 'shared/show_photo', locals: {model: user, file_name: "myimage", psize: '80x80', display_cnt: 0 } %>
  </td>
  <td class='span2'><%= user.business_name %></td>
  <td class='span2'><%= get_user_loc(user) %></td>
  <td class='span2'><div class='price'><%= user.listings.active.count %></div></td>
  <td class='span2'><%= @user.nice_date(@user.date_followed(user.id)) %></td>
  <td class='span1 center-wrapper'><%= link_to 'View', user.local_user_path, class: 'btn btn-small' %></td>
  <td class='span1 center-wrapper'><%= follow_or_unfollow_button(@status, @user, user) %></td>
</tr>