<ul class="nav">
  <li id='li_home' class="<%= action_name == 'seller' ? 'active' : '' %>">
    <%= link_to "Active", seller_listings_path, class: 'submenu', id: 'active-pixis', remote: true %></li>
  <li class="<%= action_name == 'unposted' ? 'active' : '' %>">
    <%= link_to "Draft", unposted_temp_listings_path, class: 'submenu', id: 'draft-pixis',remote: true %></li>
  <li><%= link_to "Pending", pending_temp_listings_path, class: 'submenu', id: 'pending-pixis',remote: true %></li>
  <li><%= link_to "Purchased", purchased_listings_path, class: 'submenu', id: 'purchased-pixis', remote: true %></li>
  <li><%= link_to "Sold", sold_listings_path, class: 'submenu', id: 'sold-pixis', remote: true %></li>
  <li><%= link_to "Saved", saved_listings_path, class: 'submenu', id: 'saved-pixis', remote: true %></li>
  <li><%= link_to "Wanted", wanted_listings_path, class: 'submenu', id: 'wanted-pixis', remote: true %></li>
</ul>
