<ul class="nav pull-right">
  <li class="<%= controller_name == 'listings' ? 'active' : '' %>">
    <%= link_to "Recent", listings_path, id: 'recent-link', class: 'submenu', remote: true %></li>
  <li><a href="#">Following</a></li>
  <li><%= link_to "Map", '#', id: 'pixi-map', class: 'submenu' %></li>
  <li class="<%= controller_name == 'categories' ? 'active' : '' %>">
    <%= link_to "Categories", categories_path, class: 'submenu', id: 'cat-link', remote: true %></li>
</ul>
<div class="width240 pixi-select pull-right">
  <%= render partial: 'shared/sites', locals: { ptype: false } %>
</div>
