<ul class="nav pull-right">
  <li id='li_home' class="<%= @status == 'received' ? 'active' : '' %>">
    <%= link_to "Received", conversations_path(status: 'received'), class: 'post-menu submenu', remote: true %></li>
  <li class="<%= @status == 'sent' ? 'active' : '' %>">
    <%= link_to "Sent", conversations_path(status: 'sent'), class: 'post-menu submenu', remote: true %></li>
    <% if action_name != 'show' %>
      <li><%= link_to "Mark All Read", mark_posts_path, id: 'mark-posts', remote: true if get_unread_count(@user) > 0 %></li>
    <% end %>
</ul>

