<% if signed_in? %>
  <ul class="nav">
  <% if access_pxp_admin_menu? %>
    <li id='li_home' class="<%= @status == 'active' ? 'active' : '' %>">
      <%= link_to "Submitted", pixi_posts_path(status: 'active'), class: 'submenu', id: 'active-posts', remote: remote? %></li>
    <li class="<%= @status == 'scheduled' ? 'active' : '' %>">
      <%= link_to "Scheduled", pixi_posts_path(status: 'scheduled'), class: 'submenu', id: 'schd-posts', remote: remote? %></li>
    <li class="<%= @status == 'completed' ? 'active' : '' %>">
      <%= link_to "Completed", pixi_posts_path(status: 'completed'), class: 'submenu', id: 'comp-posts', remote: remote? %></li>
    <li class="<%= action_name == 'pixter_report' ? 'active' : '' %>">
      <%= link_to "Pixter Report", pixter_report_pixi_posts_path, class: 'submenu', id: 'pixter-report' %>
    </li>
  <% elsif @user.is_pixter? && can?(:manage_pixi_posts, @user) %>
    <li class="<%= @status == 'scheduled' ? 'active' : '' %>">
      <%= link_to "Scheduled", pixter_pixi_posts_path(status: 'scheduled'), class: 'submenu', id: 'schd-posts', remote: remote? %></li>
    <li class="<%= @status == 'completed' ? 'active' : '' %>">
      <%= link_to "Completed", pixter_pixi_posts_path(status: 'completed'), class: 'submenu', id: 'comp-posts', remote: remote? %></li>
    <li class="<%= action_name == 'pixter_report' ? 'active' : '' %>">
      <%= link_to "Pixter Report", pixter_report_pixi_posts_path, class: 'submenu', id: 'pixter-report' %>
    </li>
  <% else %>
    <li id='li_home' class="<%= @status == 'active' ? 'active' : '' %>">
      <%= link_to "Submitted", seller_pixi_posts_path(status: 'active'), class: 'submenu', id: 'active-posts',  remote: remote? %></li>
    <li class="<%= @status == 'scheduled' ? 'active' : '' %>">
      <%= link_to "Scheduled", seller_pixi_posts_path(status: 'scheduled'), class: 'submenu', id: 'schd-posts', remote: remote? %></li>
    <li class="<%= @status == 'completed' ? 'active' : '' %>">
      <%= link_to "Completed", seller_pixi_posts_path(status: 'completed'), class: 'submenu', id: 'comp-posts', remote: remote? %></li>
  <% end %>
  </ul>
<% end %>
