<table>
  <tr><td class='width240'>Confirmation #:</td><td></td><td><%= payment.id %></td></tr>

  <tr><td class='width240'>Bank Name: </td><td></td><td><%= invoice.bank_name %></td></tr>
  <tr><td class='width240'>Account #:</td><td></td><td>******<%= invoice.acct_no %></td></tr>
  <tr><td class='width240'>Amount:</td><td></td><td><%= number_to_currency(invoice.seller_amount.to_f) %></td></tr>

  <tr><td class='width240'>Date & Time: </td><td></td><td><%= invoice.format_date(invoice.updated_at) %></td></tr>
  <tr><td class='width240'>Invoice #: </td><td></td><td><%= link_to invoice.id, get_invoice_url(invoice) %></td></tr>
  <tr><td class='width240'>From: </td><td></td><td><%= invoice.buyer_name %></td></tr>
  <tr><td class='width240'>Description: </td><td></td><td><%= invoice.pixi_title %></span><br /></td></tr>
</table>
