<div id="pmtForm">
  <%= form_for @transaction, :url => transactions_url(:id=>@listing, :order=>@order), :html => {id: 'payment_form'} do |f| %>
    <%= render partial: 'shared/error_messages', locals: { :target => @transaction } %>
    <div id="data_error" style="display:none" class="error"></div>
    <%= render 'shared/purchase_summary' %>
    <%= render partial: 'shared/buyer_info', locals: { f: f } %>
    <%= render partial: 'shared/credit_card_info' if @transaction.amt > 0.0 %>
	
    <%= f.hidden_field :token, id: 'pay_token' %>
    <%= f.hidden_field :promo_code, :value=>get_promo_code %>
    <%= f.hidden_field :user_id, :value=>@transaction.user_id %>
    <%= f.hidden_field :transaction_type, :value=>@transaction.transaction_type %>
    <%= f.hidden_field :amt, :value => @transaction.amt, :id=>'amt' %>
    <%= f.hidden_field :processing_fee, :value => @transaction.processing_fee, :id=>'processing_fee' %>
    <%= f.hidden_field :convenience_fee, :value => @transaction.convenience_fee, :id=>'convenience_fee' %>
    <%= f.hidden_field :description, :value => @order[:title] %>

    <%= link_to 'Prev', set_prev_btn, class: 'btn btn-large btn-primary stnd-btn back-btn' %>

    <div class="nav pull-right">
      <%= link_to 'Cancel', @listing, method: :delete, confirm: cancel_msg, class: 'btn btn-large btn-primary stnd-btn' if @transaction.pixi? %>
      <%= f.submit "Done!", :confirm => confirm_msg, :id => 'payForm', class: "btn btn-large btn-primary submit-btn" %>
    </div>
  <% end %>
</div>
