<%= content_for :subhead do %>
  <%= render :partial => 'shared/navbar', locals: { menu_name: set_pixi_post_menu } %>
<% end %>
<%= content_for :content do %>
  <div id='inv_form'>
    <%= form_for setup_pixi_post(post) do |f| %>
      <%= render partial: 'shared/pixi_post_top', locals: {f: f, post: post} %>
      <div id='pxp_items'>
        <%= render partial: 'shared/pixi_post_address', locals: {post: post, f: f } %>
        <%= show_manage_pixi_post f, post %>
      </div>
      <div id='pxp_btn' class="nav pull-right">
        <%= link_to 'Cancel', set_pixi_post_path, confirm: msg, class: "btn btn-large" %>
        <%= f.submit "Done", class: "btn btn-large btn-primary submit-btn", data: { disable_with: "Submitting..." } %>
      </div>
      <%= f.hidden_field :user_id, value: post.user_id %>
    <% end %>
  </div>
<% end %>
