  <%= form_for(@listing, :html => { :multipart => true, id: 'pixi-form' }) do |f| %>
    <div class="div-border">
      <div id="form_errors">
        <%= render partial: 'shared/error_messages', :locals => { :target => @listing } %>
      </div>

      <%= render partial: 'shared/listing_fields', :locals => { f: f } %>
      <%= f.hidden_field :start_date, value: Time.now %>

      <% if @listing.pixi_post? %>
        <%= f.hidden_field :pixan_id, value: @user.id %>
      <% else %>
        <%= f.hidden_field :seller_id, value: @user.id %>
      <% end %>

      <%= f.hidden_field :post_ip, value: @user.current_sign_in_ip %>
    </div>

    <div class="nav pull-right">
      <%= link_to 'Cancel', root_path, confirm: msg, class: "btn btn-large btn-primary stnd-btn" %>
      <%= f.submit "Next", class: "btn btn-large btn-primary submit-btn" %>
    </div>
  <% end %>
