  <div id="form_errors"><%= render partial: 'shared/error_messages', locals: { :target => listing } %></div>
  <%= form_for(setup_picture(listing), html: { multipart: true, id: 'pixi-form' }, data: {validate: 'parsley'}) do |f| %>
    <div class="div-border">
      <%= render partial: 'shared/listing_fields', locals: { f: f, listing: listing, s3Flg: s3Flg } %>
      <%= f.hidden_field :start_date, value: Time.now %>
      <%= f.hidden_field :status, value: action_name %>
      <%= f.hidden_field set_poster_id(listing), value: @user.id if seller_post?(listing) %>
      <%= f.hidden_field :post_ip, value: @user.current_sign_in_ip %>
    </div>
    <div class="nav pull-right">
      <%= link_to 'Cancel', get_return_path, confirm: msg, id: 'pixi-cancel-btn', class: "btn btn-large" %>
      <%= f.submit "Next", class: "btn btn-large btn-primary submit-btn", id: 'build-pixi-btn', data: {disable_with: "Submitting..."} %>
    </div>
  <% end %>
