<div id='pxp-address' class="div-border">
  <div class='row'>
    <div class='offset3 addr-tbl' style="<%= !post.has_address? ? 'display:none' : '' %>">



      <h5 class="grp-hdr">Address Information</h5>
      <table>
      <tr><td class='span3'>
        <%= post.address %><br>
        <%= "#{post.city}, #{post.state} #{post.zip}" %><br><%= post.home_phone %></td>
        <td class='v-align price'><%= link_to 'Change', '#', id: 'edit-addr-btn', class: 'btn' %></td>
      </tr>
      </table>

    </div>
  </div>
  <div class='sm-top user-tbl' style="<%= post.has_address? ? 'display:none' : '' %>">
    <div class='row'>
      <div class='span4'>
        <%= f.label :address %><%= f.text_field :address, value: post.address, placeholder: 'Street Address' %>
      </div>
      <div class='span4'>
        <label>Address 2 </label><%= f.text_field :address2, value: post.address2, placeholder: 'Suite #' %>
      </div>
    </div>
    <div class='row'>
      <div class='span4'>
        <label>City* </label>
        <%= f.autocomplete_field :city, autocomplete_site_name_pixi_posts_path, value: post.city, 
	        :update_elements => { }, :placeholder => 'Enter City' %> 
      </div>
      <div class='span2'>
        <label>State/Province*</label>
	  <%= f.collection_select :state, State.all, :code, :state_name, {prompt: 'Select State', selected: post.state}, {class: 'pixi-select'} %>
      </div>
      <div class='span2'>
        <label>Zip* </label><%= f.text_field :zip, value: post.zip, :size => 5, placeholder: 'Zip' %>
      </div>
    </div>
    <div class='row'>
      <div class='span4'>
        <label>Home Phone*</label><%= f.text_field :home_phone, size: 10, value: post.home_phone, class: 'width180', placeholder: 'Home Phone' %>
      </div>
      <div class='span4'>
        <label>Mobile Phone</label>
	<%= f.text_field :mobile_phone, size: 10, value: post.mobile_phone, class: 'width180', placeholder: 'Mobile Phone' %>
      </div>
    </div>
  </div>
</div>
