<tr>

        <td class='center-wrapper'><%= short_date(post[0]) %></td>
        <td class='center-wrapper'><%= post[1] %></td>
        <td class='center-wrapper'><%= post[2] %></td>
        <td class='center-wrapper'><%= post[3] %></td>
        <td class='center-wrapper'><%= post[4] %></td>
        <td class='center-wrapper price'><%= !(post[5] == "Not sold yet")? ntc(post[5]) : post[5] %></div></td>
        <td class='center-wrapper price'><%= !(post[6] == "Not sold yet")? ntc(post[6]) : post[6] %></div></td>
        <td class='center-wrapper price'><%= !(post[7] == "Not sold yet")? ntc(post[7]) : post[7] %></td>
</tr>


