    <div class='row'>
      <div class='span4'>
        <%= f.label :address %><%= f.text_field :address, value: post.address, placeholder: 'Street Address' %>
      </div>
      <div class='span4'>
        <label>Address 2 </label><%= f.text_field :address2, value: post.address2, placeholder: 'Suite #' %>
      </div>
    </div>
    <div class='row'>
      <div class='span4'><label>City* </label>
        <%= f.autocomplete_field :city, autocomplete_site_name_pixi_posts_path, value: post.city, 
	        :update_elements => { }, :placeholder => 'Enter City' %> 
      </div>
      <div class='span2'><label>State/Province*</label>
	  <%= f.collection_select :state, State.all, :code, :state_name, {prompt: 'Select State', selected: post.state}, {class: 'pixi-select'} %>
      </div>
      <div class='span2'>
        <label>Zip* </label><%= f.text_field :zip, value: post.zip, :size => 5, placeholder: 'Zip' %>
      </div>
    </div>
