<%= content_for :subhead do %>
  <%= render :partial => 'shared/navbar', locals: { menu_name: set_pixi_post_menu } %>
<% end %>
<%= content_for :content do %>
  <div id='inv_form'>
    <%= form_for @post do |f| %>
    <div class="div-border">
      <div id="form_errors">
        <%= render partial: 'shared/error_messages', :locals => { :target => post } %>
      </div>
      <div class='pull-right'>
        <%= image_tag 'rsz_ppost_words_20140314.png', class: 'ppay-logo' %>
      </div>
      <div style="<%= post.owner?(@user) ? 'display:none' : '' %>">
        <%= render partial: 'shared/pixi_post_details', locals: {post: post, showAddrFlg: false} %>
      </div>
      <div style="<%= !post.owner?(@user) ? 'display:none' : '' %>">
        <%= render partial: 'shared/pixi_post_item', locals: {post: post, f: f } %>
      </div>
    </div>
    <div id='pxp_items'>
      <%= render partial: 'shared/pixi_post_address', locals: {post: post, f: f } %>
      <%= render partial: 'shared/manage_pixi_post', locals: {post: post, f: f } if !post.owner?(@user) %>
    </div>
    <div id='pxp_btn' class="nav pull-right">
      <%= link_to 'Cancel', set_pixi_post_path, confirm: msg, class: "btn btn-large" %>
      <%= f.submit "Save", class: "btn btn-large btn-primary submit-btn" %>
    </div>
    <% end %>
  </div>
<% end %>
