<tr>
  <td class='center-wrapper'><%= short_date(post.completed_date) %></td>
  <td class='center-wrapper'><%= post.seller_name %></td>
  <td class='center-wrapper'><%= post.pixter_name %></td>
  <td class='center-wrapper'><%= get_post_val('sale_date', post) %></td>
  <td class='center-wrapper price'><%= ntc(post.listing_value) %></div></td>
  <td class='center-wrapper price'><%= get_post_val('sale_value', post) %></td>
  <td class='center-wrapper price'><%= get_post_val('revenue', post) %></td>
</tr>

