<%= content_for :subhead do %>
  <%= render :partial => 'shared/navbar', locals: { menu_name: 'PixiPost' } %>
<% end %>
<%= content_for :content do %>
  <%= form_for @post do |f| %>
  <div id='inv_form'>
    <div class="div-border">
      <div id="form_errors">
        <%= render partial: 'shared/error_messages', :locals => { :target => @post } %>
      </div>
      <div style="<%= @post.owner?(@user) ? 'display:none' : '' %>">
        <%= render partial: 'shared/pixi_post_details', locals: {post: @post, showAddrFlg: false} %>
      </div>
      <div style="<%= !@post.owner?(@user) ? 'display:none' : '' %>">
        <%= render partial: 'shared/pixi_post_item', locals: { f: f } %>
      </div>
    </div>
    <%= render partial: 'shared/pixi_post_address', locals: { f: f } %>

    <% if !@post.owner?(@user) %>
      <%= render partial: 'shared/manage_pixi_post', locals: { f: f } %>
    <% end %>
    <div class="nav pull-right">
      <%= link_to 'Cancel', root_path, confirm: msg, class: "btn btn-large btn-primary stnd-btn" %>
      <%= f.submit "Save", class: "btn btn-large btn-primary submit-btn" %>
    </div>
  </div>
  <% end %>
<% end %>
