<li id="<%= post.id %>">
  <%= render partial: 'shared/show_photo', locals: {model: set_poster(post, sentFlg), file_name: "myimage", psize: '80x80', display_cnt: 0 } %>
  <div class='span9'>
    <div class='sender'>
      <%= set_poster(post, sentFlg).name %>
    </div>
    <div>
      RE: <%= link_to post.pixi_title, post.listing, class: '' %><%= image_tag set_msg_icon(post), class: 'left-form' unless post.sender? @user %>
    </div>
    <span class="content"><%= post.full_content %></span>
    <span class="timestamp">
      Posted <%= ts_in_words(post.created_at) %>.
    </span>
    <%= render partial: 'shared/reply', locals: { post: post, sentFlg: sentFlg } unless post.system_msg? || post.sender?(@user) %>
  </div>
  <div class='clear-all'></div>
</li>
