<div class="div-border">  
  <h4 class="grp-hdr"><%= "1. Review Your #{get_page_header}" %></h4>
  <div class="mtop">  
    <span class="span2">
      <%= render :partial => 'shared/show_photo', :locals => {model: @listing, psize: '180x180', file_name:'pixi-photo', display_cnt: 0} %>
    </span>
    <div class="offset3">
      <% if @order[:transaction_type] == 'invoice' %>
        <h5><%= @order[:title] %> from <%= @order[:seller] %></h5>
      <% else %>
        <h5><%= @listing.title %></h5>
      <% end %>
    </div>
    <table class="offset3">
      <%= render :partial=>'shared/order_details', :locals=>{:order=>@order, :paid=>false} %>
      <tr></tr>
    </table>
  </div>
</div>
