<div class='span12 left-form no-left'>  
  <%= form_for @post, url: reply_conversations_path(id: conversation), id: 'post-frm', method: :post, remote: true do |f| %> 
    <div id="notice" style="display:none"></div>
    <div id="form_errors">
      <%= render partial: 'shared/error_messages', :locals => { :target => f.object } %>
    </div>
    <%= f.hidden_field 'pixi_id', value: conversation.pixi_id %>
    <%= f.hidden_field 'recipient_id', value: conversation.other_user(@user).id %>
    <%= f.hidden_field 'user_id', value: @user.id %>
    <div class="span1"> 
      <%= render partial: 'shared/show_photo', locals: {model: @user, file_name: "tip-image", psize: '80x80', 
        display_cnt: 0 } %>
    </div>
    <div class="reply_form">
      <%= f.text_area 'content', placeholder: 'Type here to reply...', id: 'reply_content', rows: "5" %>  
      <%= f.submit 'Send', class: "btn btn-medium btn-primary submit-btn", id: 'reply-btn' %>
    </div>
  <% end %>
</div>  
