<div class='div-border height360'>
  <h3 class='top-hdr pixi-blue-bkgnd'><%= listing.nice_title %></h3>
  <div class='row'>
  <div class="span4">
    <%= render partial: 'shared/photos', locals: {model: listing, file_name: "star.jpg", psize: '150x150'} %>
  </div>
  <div class="offset4">
    Category: <%= listing.category_name %><br />
    Site: <%= listing.site_name %><br />
    <% if listing.price %>
      Price: <%= number_to_currency listing.price %><br />
    <% end %>
    Posted By: <%= listing.seller_name %><br />
    Description: <span class='height240'><%= listing.description %></span><br />
  </div>
  </div>
  <div class='row hdescr'>
    <div class="span4">
      ID: <%= listing.pixi_id %>
    </div>
    <div class="span4">
      Posted: <%= get_local_time listing.start_date %>
    </div>
    <div class="span3">
      Updated: <%= get_local_time listing.updated_at %>
    </div>
  </div>
</div>
