  <%= render partial: 'shared/show_listing_header', locals: {listing: listing} %>
  <div class='row mbot'>
    <div class='span6'>
      <%= render partial: 'shared/show_listing_images', locals: {listing: listing} %>
    </div>
    <div id='pixi-tabs' class="span6">
      <%= render partial: 'shared/show_listing_details', locals: {listing: listing} %>
    </div>
  </div>
  <%= render partial: 'shared/show_listing_nav', locals: {listing: listing, edit_mode: edit_mode} %>
  <%= render partial: 'shared/listing_footer', locals: {listing: listing} %>
