<div class='row offset2'>
  <div class="span8">
    <table class="table table-hover table-condensed table-bordered">
      <tr><td class='span3 field-hdr'>Email</td><td><%= user.email %></td></tr>
      <%= show_user_row user, !user.is_business?, 'Gender ', user.gender %>
      <%= show_user_row user, !user.is_business?, 'Birth Date ', user.birth_dt %>
      <tr><td class='span3 field-hdr'>Home Zip </td><td><%= user.home_zip %></td></tr>
      <tr><td class='span3 field-hdr'>Type </td><td><%= user.type_descr %></td></tr>
      <tr><td class='span3 field-hdr'>Member Since </td><td><%= user.nice_date(user.created_at) %></td>
      <%= show_user_row user, @user.is_admin?, 'Facebook Login ', toggle_bool(user.fb_user) %>
      <%= show_user_row user, @user.is_admin?, 'Last Sign In ', user.nice_date(user.current_sign_in_at) %>
      <tr><td class='span3 field-hdr'>Primary Address</td><td><%= load_address user %></td></tr>
      <tr><td class='span3 field-hdr'>URL</td><td><%= user.user_url %></td></tr>
      <tr><td class='span3 field-hdr'>About</td><td><%= sanitize user.description %></td></tr>
    </table>
  </div>
</div>
