<div class='height360'>
  <div class='row'>
    <div class="span12">
      <h4 class='mbot'><%= listing.title %></h4>
    </div>
  </div>
  <div class='row mbot'>
    <div class='span6 verticalLine'>
      <div class='span1'>
        <%= render partial: 'shared/show_picture', locals: {psize: 'small', model: listing.user} %>
      </div>
      <div class='span4'>
        Posted By: <%= listing.seller_name %> 
        <% unless !listing.active? || listing.seller?(@user) %>
          <div id='post_form'><%= render partial: 'shared/contact', locals: { listing: listing } %></div>
	<% end %>  
      </div>
      <div class="span5 sm-top">
        <%= render partial: 'shared/photos', locals: {model: listing, file_name: "", psize: '120x120'} %>
      </div>
    </div>
    <div class="span5">
      <div id='comment_form'><%= render partial: 'shared/comments' unless !listing.active? || listing.seller?(@user) %></div>
    </div>
  </div>

  <div class="mtop row">
      <div class='span12 mtop'>
        <% if listing.event? %>
          <div class='span3'>Start Date: <%= short_date listing.event_start_date %></div>
          <div class='span3'>End Date: <%= short_date listing.event_end_date %></div>
          <div class='span2'>Start Time: <%= short_time listing.event_start_time %></div>
          <div class='offset1 span2'>End Time: <%= short_time listing.event_end_time %></div>
        <% end %>
      </div>
  </div>

  <div class="row">
    <div class="span12 mbot">
      <div class='span12'>
        <%= simple_format(listing.summary) %><br />

        <% if listing.price %>
          Price: <%= number_to_currency listing.price %>
        <% end %>
        <% if listing.job? %>
          Compensation: <%= listing.compensation %>
        <% end %>
        <% if listing.has_year? && listing.year_built %>
          Year: <%= listing.year_built %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <%= render partial: 'shared/show_temp_listing', locals: {listing: listing} if edit_mode %>
  </div>

  <div class="grey-text mtop row">
    <div class="span4">
      ID: <%= listing.pixi_id %>
    </div>
    <div class="span4 center-wrapper">
      Posted: <%= get_local_time listing.start_date %>
    </div>
    <div class="span4 mbot">
      <span class='pull-right'>Updated: <%= get_local_time listing.updated_at %></span>
    </div>
  </div>
</div>
