<% if listing %>  
  <%= render partial: 'shared/show_listing_header', locals: {listing: listing} %>
  <div class='row mbot'>
    <div class='span6 verticalLine'>
      <%= render partial: 'shared/listing_top', locals: {listing: listing} %>
      <div class="clear-all"></div>
      <%= render partial: 'shared/show_listing_images', locals: {listing: listing} %>
    </div>
    <div class="span5">
      <div id='comment_form'><%= render partial: 'shared/comments', locals: {listing: listing} %></div>
    </div>
  </div>

  <%= render partial: 'shared/listing_details', locals: {listing: listing} %>

  <% if signed_in? %>
    <div class="row">
      <div class="mtop pull-right">
        <% unless pending_listings? %>
          <%= render partial: 'shared/review_nav', locals: { listing: listing } if listing.editable?(@user) %>
          <%= render partial: 'shared/show_temp_listing', locals: {listing: listing} if edit_mode %>
        <% else %>
          <%= check_pending_pixi listing if @user.is_admin? %>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= render partial: 'shared/listing_footer', locals: {listing: listing} %>
<% else %>
  <div class='center-wrapper'>Data connection lost.  Please reload page.</div>
<% end %>
