<div class='div-border'>
  <div class="span2">
    <%= render partial: 'shared/show_photo', locals: {model: listing, file_name: "star.jpg", psize: '150x150', display_cnt: 1 } %>
  </div>
  <div class="offset2 mbot">
    <span class='item-hdr'><%= listing.nice_title %></span><br />
    <% if listing.active? %>
      Posted: <%= get_local_time listing.start_date %><br />
    <% end %>
    Posted By: <%= listing.seller_name %><br />
    Category: <%= listing.category_name %><br />
    Site: <%= listing.site_name %><br />
    <% if listing.price %>
      Price: <%= number_to_currency listing.price %><br />
    <% end %>
    Description: <span class='height240'><%= listing.description %></span><br />
  </div>
</div>
