  <tr>
    <% if showColFlg %>
      <td></td>
      <td><div class='price'><%= get_conv_title invoice %></div></td>
      <td class="width120">
        <div class='pull-right'>
          <%= render partial: 'shared/tooltip', locals: { msg: get_conv_fee_msg(invoice) } %>
        </div>
      </td>
    <% else %>
      <td class='v-align'><%= get_conv_title invoice %></td>
      <td>
      <div class='price'>
        <%= render partial: 'shared/tooltip', locals: { msg: get_conv_fee_msg(invoice) } if action_name == 'new' %>
      </div>
      </td>
    <% end %>
    <td class='width120' style='text-align: right'><div class='price'><%= ntc(get_invoice_fee(invoice)) %></div></td>
  </tr>
