<div class='center'>
  <h2>Your Subscription</h2>
</div>
<div class="row">
  <div id="notice"><%= render 'layouts/flash_messages', flash: flash %></div>
  <div id="data_error" style="display:none" class="error"></div>

  <div class="sm-top span6 offset4">
    <div class='mleft15'>
    <table>
      <tr><td>Business Name: </td><td class='width30'></td><td><%= sub.user.business_name %></td></tr>
      <tr><td>Plan Name: </td><td class='width30'></td><td><%= sub.plan_name %></td></tr>
      <tr><td>Start Date: </td><td class='width30'></td><td><%= ResetDate.display_date_by_loc(sub.created_at, nil, true) %></td></tr>
      <tr><td>Card #: </td><td class='width30'></td><td><%= "************#{sub.card_account.card_no}" %></td><td></td></tr>
    </table>
    </div>
  </div>
  <div class="span4 offset5 mtop">
    <div class='mleft15'>
      <%= link_to 'Edit', edit_subscription_path(sub.id), class: "btn btn-large", remote: true %>
      <%= link_to 'Remove', subscription_path(sub.id), method: :delete, class: "btn btn-large", data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>
