  <div class='row'>
    <div class="med-neg-top span12">
      <h4 class='mbot'><%= listing.nice_title %></h4>
    </div>
  </div>
  <div class='row mbot'>
    <div class='span6 verticalLine'>
      <%= render partial: 'shared/listing_top', locals: {listing: listing} %>
      <div class="clear-all"></div>
      <div id='item-pix' class="span5 no-left mtop mbot">
        <%= render partial: 'shared/photos', locals: {model: listing, file_name: "", psize: '120x120'} %>
      </div>
      <%= render partial: 'shared/social_links' unless !listing.active? %>
    </div>
    <div class="span5">
      <div id='comment_form'><%= render partial: 'shared/comments', locals: {listing: listing} %></div>
    </div>
  </div>

  <%= render partial: 'shared/listing_details', locals: {listing: listing} %>

  <div class="row">
    <div class="mtop pull-right">
      <% unless pending_listings? %>
        <%= render partial: 'shared/review_nav', locals: { listing: listing } if listing.editable?(@user) %>
        <%= render partial: 'shared/show_temp_listing', locals: {listing: listing} if edit_mode %>
      <% end %>
    </div>
    <%= check_pending_pixi listing %>
  </div>

  <%= render partial: 'shared/listing_footer', locals: {listing: listing} %>
</div>
