<div class='pull-right mbot'>
  <%= image_tag('rsz_pixichat_logo_hort.png', class: 'ppay-logo') %>
</div>
<div class='clear-all'></div>
<% if conv_exists? conversation %>    
  <div>
    <table>
      <tr>
        <td width="97%">
            <%= render partial: 'shared/show_photo', locals: {model: conversation.listing, file_name: "myimage", psize: '80x80', display_cnt: 0 } %>
            <h4>&nbsp;  <%= link_to conversation.pixi_title, conversation.listing, class: 'terms-link' %></h4>
        </td>
        <%= render partial: 'shared/conversation_icons', locals: { conversation: conversation } %>
      </tr>
    </table>
  </div>
  <div id='accordion'>
    <%= render partial: 'shared/post', collection: @posts.reorder('created_at ASC'), locals: { sentFlg: sentFlg } if @posts %>
  </div>
  <div class='sm-top'>
    <%= render partial: 'shared/reply', locals: { post: @post, sentFlg: sentFlg, conversation: conversation } unless conversation.system_msg? %>
  </div>
<% else %>
  <div class='span12 sm-top'>
    <div class='center-wrapper'>No messages found.</div>
  </div>
<% end %>
