<div class='height360'>
  <div class='row'>
    <div class="span5">
      <h4 class='mbot'><%= listing.title %></h4>
    </div>
  </div>
  <div class='row mbot'>
    <div class='span6 verticalLine'>
      <div class='span1'>
        <%= render partial: 'shared/show_small_photo', locals: {model: listing.user} %>
      </div>
      <div class='span4'>
        Posted By: <%= listing.seller_name %>
          <div id='post_form'><%= render partial: 'shared/contact', locals: { listing: listing } unless listing.seller? @user %></div>
      </div>
      <div class="span5 sm-top">
        <%= render partial: 'shared/photos', locals: {model: listing, file_name: "", psize: '120x120'} %>
      </div>
    </div>
    <div class="span5">
      <div id='comment_form'><%= render partial: 'shared/comments' %></div>
    </div>
  </div>

  <div class="mtop row">
    <div class="mtop span12 mbot">
      <div class='span12 mtop'>
        <%= listing.description %><br />
        <% if listing.price %>
          Price: <%= number_to_currency listing.price %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="grey-text mtop row">
    <div class="span4">
      ID: <%= listing.pixi_id %>
    </div>
    <div class="span4 center-wrapper">
      Posted: <%= get_local_time listing.start_date %>
    </div>
    <div class="span4">
      <span class='pull-right'>Updated: <%= get_local_time listing.updated_at %></span>
    </div>
  </div>
</div>
