<div class="row">
  <div class="span8">
    <label class='control-label'><span class='no-left span1'>Date: </span><%= get_local_date(invoice.inv_date) %></label>
    <label class='control-label'><span class='no-left span1'>From: </span>
      <%= render partial: 'shared/show_photo', locals: {model: invoice.seller, file_name: "myimage", psize: '80x80', display_cnt: 0 } %>
      <span class='mleft10'><%= invoice.seller_name %></span></label>
    <div class="big-top">
      <label class="control-label"><span class='no-left span1'>Bill To: </span>
        <%= render partial: 'shared/show_photo', locals: {model: invoice.buyer, file_name: "myimage", psize: '80x80', display_cnt: 0 } %>
        <span class='mleft10'><%= invoice.buyer_name %></span></label>
    </div>
  </div>
  <div class="span4">
    <div class='pull-right'><%= image_tag('rsz_pixipay.png', class: 'ppay-logo') %></div>
    <div class='clear-all'></div>  
    <div class='sm-top order-total price'>INVOICE</div>
    <div class="sm-top price">
       <label class="control-label">Invoice # <%= invoice.id %></label>
    </div>
    <div class="sm-top price">
       <label class="control-label">Status: <%= invoice.nice_status %></label>
    </div>
  </div>
</div>

