<% unless conversation.blank? %>    
  <% unless conversation.posts.blank? %>    
  <div>
    <table>
      <tr>
        <td width="97%">
          <% if conversation.listing != nil %>
          <%= render partial: 'shared/show_photo', locals: {model: conversation.listing, file_name: "myimage", psize: '80x80', display_cnt: 0 } %>
          <h4>
            &nbsp;
            <%= link_to conversation.pixi_title, conversation.listing, class: 'terms-link' %>
          </h4>
          <% end %>
        </td>
        <td align="right">
          <% if conversation.invoice != nil && conversation.invoice.status == 'unpaid' && conversation.invoice.buyer == @user %>
              <td><%= link_to image_tag('pay-icon.png'), invoice_path(conversation.invoice.id), class: 'btn btn-small' %></td>
          <% end %>
          <% if conversation.can_bill? @user %> 
            <td><%= link_to image_tag('bill-icon.png'), get_invoice_path, class: 'btn btn-small' %></td>
          <% end %>
          <td><%= link_to image_tag('trash-icon.png'), remove_conversation_path(conversation.id), :method => :put, confirm: 
	    'Delete this conversation?', class: 'btn btn-small' %></td>
        </td>
      </tr>
    </table>
  </div>
  <div id='accordion'>
    <%= render partial: 'shared/post', collection: @posts, locals: { sentFlg: sentFlg } %>
  </div>
  <div class='sm-top'>
    <%= render partial: 'shared/reply', locals: { post: @post, sentFlg: sentFlg, conversation: conversation } unless 
       conversation.system_msg? %>
  </div>
  <% end %>
  <% else %>
    <div class='center-wrapper'>No messages found.</div>
<% end %>
