<div class="sm-top row">
  <%= form_for([resource_name, resource.send(method)], url: registration_path(resource_name), data: {validate: 'parsley'}, 
      html: { multipart: true, id: 'register-form', class: 'uform no-bot'}) do |f| %>
    <%= render partial: 'shared/error_messages', :locals => { :target => resource } %>
    <div id="<%= id %>" class='center-wrapper mbot30'>
      <%= fb_login_btn 'Sign up via', "btn btn-primary btn-mask med-top span3 no-float" %>
      <h4 class='med-top'>or</h4>
      <%= link_to 'Sign up via Email', '#', class: "btn med-top span3 no-float", id: set_signup_btn_id(id) %>
    </div>
    <%= render partial: 'shared/signup_form_fields', locals: {f:f, model: resource, src: src, fid: fid} %>
  <% end %>
</div>
