  <%= form_for("user", :url => user_session_path) do |f| %>
    <div id='signup'>
      <div><%= f.email_field :email, placeholder: 'Email' %></div>
      <div><%= f.password_field :password, placeholder: 'Password', size: 20 %></div>
    </div>

    <% if rmbrFlg && devise_mapping.rememberable? -%>
      <div>
	<label class="checkbox">
	   Remember Me <%= f.check_box :remember_me %>
	</label>
      </div><br />
    <% end -%>

    <div id='login-text' class='center-wrapper'>
      <%= f.submit "Sign in", class: "btn btn-primary signin-btn sm-top span2" %>
      <%= link_to "Sign up for free!", new_user_registration_path, class: "btn btn-primary btn-mask sm-top width140" %>
      <h4 class='med-top'>or</h4>
      <%= link_to user_omniauth_authorize_path(:facebook), id: 'fb-btn', class: "btn btn-primary btn-mask med-top span3 mleft-pct" do %>
        Sign in via <%= image_tag 'icon_facebook.png', class: 'img-icon mleft5' %>
      <% end %>
    </div>
  <% end %>
