  <%= form_for("user", :url => user_session_path) do |f| %>
    <div id='signup'>
      <div><%= f.email_field :email, placeholder: 'Email', class: 'span4' %></div>
      <div><%= f.password_field :password, placeholder: 'Password', size: 20, id: 'pwd', class: 'span4' %></div>
    </div>
    <%= render partial: 'shared/signin_options', locals: {rmbrFlg: rmbrFlg, f: f} %>
    <div class='clear-all'></div>
    <div id='login-text' class='mtop center-wrapper'>
      <%= f.submit "Sign in", class: "btn btn-primary signin-btn sm-top width140", id: 'login-btn', data: {disable_with: "Submitting..."} %>
      <%= link_to "Sign up for free!", new_user_registration_path, class: "btn btn-primary btn-mask sm-top width140" %>
      <h4 class='med-top'>or</h4>
      <%= fb_login_btn 'Sign in via', "btn btn-primary btn-mask med-top span3 no-float" %>
    </div>
  <% end %>
