<%= render partial: 'shared/pg_sub_header', locals: { stitle: 'Our Pixans' } %>
<div class='row med-top'>
  <div class='offset1 span11'>
  <table>
    
      <tr class='valign'>
        <td class='width140'><%= image_tag('rsz_photo-frame3_sean.png', class: 'team-img') %></td>
        <td class='span7'><span class='title-str'>Sean Brown, Founder & Chief Pixan</span><br>
          Serial entrepreneur. Jazz enthusiast. Runner.<br>
          CEO BuzzHub | VP Eng AutoTown | University of Michigan, BS & MSE
        </td>
    
        <td class='width140'><%= image_tag('rsz_photo-frame2_tigran.png', class: 'team-img') %></td>
        <td class='span7'><span class='title-str'>Tigran Stepanyan, Engineering Pixan</span><br>
          Student Community Leader. Amateur Pianist. Soccer Fanatic.<br>
          University of California at Berkeley, BS
        </td>

      </tr>
      <tr class='valign'>
        <td class='width140'><%= image_tag('rsz_photo-frame2_hank.png', class: 'team-img') %></td>
        <td class='span7'><span class='title-str'>Hank Ritchie, Chief Operating Pixan</span><br>
          Program motivator. Amateur photographer. Outdoor adventurer.<br>
          M Squared Consulting | VP Wells Fargo Bank | Tulane University, BA
        </td>
        <td class='width140'><%= image_tag('rsz_photo-frame2_stephanie.png', class: 'team-img') %></td>
        <td class='span7'><span class='title-str'>Stephanie Tandun, Engineering Pixan</span><br>
          Relentless optimist. Sports addict. Rabid bookworm. <br>
          University of California at Berkeley, BA
        </td>

      </tr>
      <tr class='valign'>
        <td class='width140'><%= image_tag('rsz_photo-frame1_tommy.png', class: 'team-img') %></td>
        <td class='span7'><span class='title-str'>Tommy Cross, Lead Marketing Pixan</span><br>
          Cultural connoisseur. Food enthusiast. Children Advocate.<br>
          Program Director Opportunity Impact | San Francisco State University, BA
        </td>
        <td class='width140'><%= image_tag('rsz_photo-frame2_nicole.png', class: 'team-img') %></td>
        <td class='span7'><span class='title-str'>Nicole De Meneses, Graphic Design Pixan</span><br>
          Movie Maniac. Zombie expert. MMA enthusiast.<br>
          Junior Animator Kabam | Art Institutes San Francisco, BS
        </td>

      </tr>
      <tr class='valign'>
        <td class='width140'><%= image_tag('rsz_photo-frame2_rachel.png', class: 'team-img') %></td>
        <td class='span7'><span class='title-str'>Rachel Sweet, Marketing Pixan</span><br>
          Cal Band Trombonist. Avid tea drinker. Wilderness explorer.<br>
          Kaplan Teacher | University of California at Berkeley, BA
        </td>
      </tr>


  </table>
  </div>  
</div>  

