<table>
  <tr><td class='width240'>Confirmation #:</td><td><%= transaction.confirmation_no %></td></tr>

  <% if transaction.amt > 0.0 %>
    <tr><td class='width240'>Payment Type: </td><td><%= transaction.payment_type %></td></tr>
    <tr><td class='width240'>Card #:</td><td>************<%= transaction.credit_card_no %></td></tr>
    <tr><td class='width240'>Amount:</td><td><%= number_to_currency(transaction.amt) %></td></tr>
  <% end %>

  <tr><td class='width240'>Date & Time: </td><td><%= get_local_time(transaction.created_at) %></td></tr>
  <tr><td class='width240'>Name: </td><td><%= "#{transaction.first_name} #{transaction.last_name}" %></td></tr>
  <tr><td class='width240'></td><td>
    <address>
      <%= transaction.address %><br />
      <% unless transaction.address2.blank? %>
        <%= transaction.address2 %><br />
      <% end %>
       <%= "#{transaction.city}, #{transaction.state} #{transaction.zip}" %><br />
       <%= transaction.country %><br />	  
    </address>
  </td></tr>
  <tr><td class='width240'>Home Phone: </td><td><%= transaction.home_phone %></span><br /></td></tr>
  <tr><td class='width240'>Email: </td><td><%= transaction.email %></span><br /></td></tr>
  <tr><td class='width240'>Description: </td><td><%= transaction.description %></span><br /></td></tr>
  <% if showAmt %>
    <tr><td class='width240'>Amount: </td><td><%= number_to_currency transaction.amt %></span><br /></td></tr>
  <% end %>		
</table>
