<table>
   <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Total</th>
  </tr>
  <% txn.transaction_details.each do |item| %>
    <% unless item.price.blank? %>
      <tr>
  	<td><%= item.item_name %></td>
  	<td style='text-align: right'><%= item.quantity %></td>
  	<td style='text-align: right'><div class='price'><%= ntc(item.price.to_f * item.quantity.to_i) %></div></td>
      </tr>
    <% end %>
  <% end %>
  <% if paid && invoice %>
    <% unless invoice.sales_tax.blank? %>
      <tr>
  	<td>Sales Tax</td>
  	<td style='text-align: right'><%= invoice.sales_tax %>%</td>
  	<td style='text-align: right'><div class='price'><%= ntc(invoice.tax_total) %></div></td>
      </tr>
    <% end %>
    <% unless invoice.ship_amt.blank? %>
      <tr>
  	<td>Shipping</td><td></td>
  	<td style='text-align: right'><div class='price'><%= ntc(invoice.ship_amt) %></div></td>
      </tr>
    <% end %>
  <% end %>
  <%= render partial: 'shared/order_total', :locals=>{paid: paid, txn: txn, model: invoice} %>
</table>
