<div><%= f.text_field :first_name, :placeholder=>'First Name', required: true  %></div>
<div><%= f.text_field :last_name, :placeholder=> 'Last Name', required: true  %></div>
<div><%= f.email_field :email, :placeholder=>'Email Address', required: true  %></div>
<div><%= f.select :gender, options_for_select( ['Male', 'Female'], :selected=>user.gender ), :prompt => 'Gender', required: true %></div>
<div><%= f.label :birth_date, 'Birth Date' %>
     <%= f.date_select :birth_date, {:as => :date, :start_year => Date.today.year - 13,
	               :end_year => Date.today.year - 100, :use_short_month => true,
		       :order => [:month, :day, :year], :prompt => true}, {class: 'width120', required: true } %></div>
<div><%= f.fields_for :preferences do |form| %>
       <%= form.number_field :zip, placeholder: 'Home Zip', size: 5, id: 'home_zip', required: true %>
     <% end %>
</div>
<% if can? :manage_users, user %>
  <div>
    <%= f.collection_select :user_type_code, UserType.active, :code, :description, {selected: user.user_type_code, prompt: 'Select User Type'}, 
      {class: 'mbot', id: 'ucode'} %>
  </div>
<% end %>
