<div><%= f.text_field :first_name, :placeholder=>'First Name', required: true  %></div>
<div><%= f.text_field :last_name, :placeholder=> 'Last Name', required: true  %></div>
<div><%= f.email_field :email, :placeholder=>'Email Address', id: 'email', required: true  %></div>
<div>
  <%= f.collection_select :user_type_code, check_access(user), :code, :description, {selected: f.object.user_type_code || user.code_type}, 
    {class: 'mbot', id: 'ucode'} %>
</div>
<%= render partial: 'shared/user_biz_info', locals: {f: f, user: user} %>
<%= render partial: 'shared/user_ind_info', locals: {f: f, user: user} %>
<%= f.fields_for :preferences do |form| %>
  <%= form.text_field :zip, placeholder: 'Home Zip', size: 5, id: 'home_zip', class: 'width120', required: true %>
<% end %>
<div id='about_acct' style="<%= set_style(edit_account?) %>">
  <%= f.text_field :description, size: 30, maxlength: 30, placeholder: 'Describe yourself or your business', required: edit_business?(user) %>
</div>
<%= f.hidden_field :id, value: user.id, id: 'uid', readonly: true %>
