<tr>
  <td class='center-wrapper'>
    <%= render partial: 'shared/show_photo', locals: {model: user, file_name: "myimage", psize: '80x80', display_cnt: 0 } %>
  </td>
  <td class=''><%= user.name %></td>
  <td class=''><%= user.email %></td>
  <td class=''><%= user.home_zip %></td>
  <td class=''><%= user.birth_dt %></td>
  <td class=''><%= user.nice_date(user.created_at) %></td>
  <td class=''><%= user.nice_date(user.last_sign_in_at) %></td>
  <td class='center-wrapper'><%= link_to 'Details', user, class: 'btn btn-small' %></td>
</tr>

