<div id='mbr_code' style="<%= set_style(is_biz?(f.object.user_type_code, user)) %>">
  <div><%= f.label :birth_date, 'Birth Date' %>
       <%= f.date_select :birth_date, {:as => :date, :start_year => Date.today.year - 13,
	               :end_year => Date.today.year - 100, :use_short_month => true,
		       :order => [:month, :day, :year], :prompt => true}, {class: 'width120', required: !user.is_business? } %></div>
</div>
<div id='gender_code' style="<%= set_style(is_biz?(f.object.user_type_code, user)) %>" class='left-form'>
  <%= f.select :gender, options_for_select(['Male', 'Female', 'Other'], selected: user.gender), {prompt: 'Gender'}, {class: 'width240 mright', 
    required: !user.is_business?} %>
</div>

