<div><%= f.text_field :first_name, :placeholder=>'First Name', required: true  %></div>
<div><%= f.text_field :last_name, :placeholder=> 'Last Name', required: true  %></div>
<div><%= f.email_field :email, :placeholder=>'Email Address', id: 'email', required: true  %></div>
<div>
  <%= f.collection_select :user_type_code, check_access(user), :code, :description, {selected: user.code_type}, {class: 'mbot', id: 'ucode'} %>
</div>
<div id='mbr_code' style="<%= set_style(user.is_business?) %>">
  <div><%= f.label :birth_date, 'Birth Date' %>
       <%= f.date_select :birth_date, {:as => :date, :start_year => Date.today.year - 13,
	               :end_year => Date.today.year - 100, :use_short_month => true,
		       :order => [:month, :day, :year], :prompt => true}, {class: 'width120', required: !user.is_business? } %></div>
</div>
<div id='bus_code' style="<%= set_style(!user.is_business?) %>">
  <%= f.text_field :business_name, :placeholder=>'Business Name', required: user.is_business? %>
</div>
<div id='bus_url' style="<%= set_style(!show_url?(user)) %>">
    <div class="input-prepend">
      <span class="fld-pad add-on"><%= user.url_str %></span>
      <%= f.text_field :url, placeholder: 'URL', value: user.url, id: 'prependedInput', class: 'width275', required: show_url?(user) %>
    </div>
</div>
<div id='gender_code' style="<%= set_style(user.is_business?) %>" class='left-form'>
  <%= f.select :gender, options_for_select(['Male', 'Female', 'Other'], selected: user.gender), {prompt: 'Gender'}, {class: 'width240 mright', 
    required: !user.is_business?} %>
</div>
<%= f.fields_for :preferences do |form| %>
  <%= form.text_field :zip, placeholder: 'Home Zip', size: 5, id: 'home_zip', class: 'width120', required: true %>
<% end %>
<div id='about_acct' style="<%= set_style(!edit_account?) %>">
  <%= f.text_field :description, size: 30, placeholder: 'Describe yourself or your business', required: edit_business?(user) %>
</div>
<%= f.hidden_field :id, value: user.id, id: 'uid', readonly: true %>
