<div class='<%= "#{topCls}" %> span2'>
  <%= show_photo user, 0, set_profile_photo(colorFlg), '80x80', user.is_a?(User) %>
</div>
<div id='sellerName' class='<%= "#{cls}" %> neg-left span4 mbot'>
  <%= render_seller_name user, colorFlg %>
  <%= render_user_specs user, pxFlg, colorFlg %>
</div>
