<div><%= f.text_field :first_name, :placeholder=>'First Name' %></div>
<div><%= f.text_field :last_name, :placeholder=> 'Last Name' %></div>
<div><%= f.email_field :email, :placeholder=>'Email Address' %></div>
<div><%= f.select :gender, options_for_select( ['Male', 'Female'], :selected=>@user.gender ), :prompt => 'Gender' %></div>
<div><%= f.label :birth_date, 'Birth Date' %>
     <%= f.date_select :birth_date, {:as => :date, :start_year => Date.today.year - 13,
	               :end_year => Date.today.year - 100, :use_short_month => true,
		       :order => [:month, :day, :year], :prompt => true}, {:class=>'width120'} %></div>
<div><%= f.fields_for :preferences do |form| %>
       <%= form.number_field :zip, :placeholder=> 'Home Zip', size: 5, id: 'home_zip' %>
     <% end %>
</div>
