
<%= content_for :title do %>
  <title><%= "#{full_title('')}" %></title>
<% end -%>

<%= content_for :head do %>
  <% if user_signed_in? %>
    <h1><%= "#{full_title('')}" %></h1>
    <%= link_to 'Account', '#', "class" => "ui-btn-right", "data-icon"=>"gear", "data-iconpos"=>"notext" %>
  <% end %>
<% end -%>

<%= content_for :content do %>
  <%= render partial: 'layouts/header', locals: { psize: 'px-logo' } %>
  <div class="mtop">
    <%= render :partial => "devise/shared/signin" %><br />
  </div>
<% end -%>
