<%= render partial: 'shared/pg_header', locals: { linkFlg: false } %>
<%= content_for :topcontent do %>
  <div class='container'>
    <div class='row mtop'>
      <div class='mtop span7 home-title-grp'>
        <span class='home-title'><%= PIXI_KEYS['pixi']['caption'] %></span><br />
        <span class='tag-line'><%= PIXI_KEYS['pixi']['tag_line'] %></span>
      </div>
      <div class='mtop span4 pull-right div-blk-border round'>
        <%= render partial: 'shared/signin_form', locals: { rmbrFlg: false } %>
      </div>
      <div class='sm-top span4'>
        <%= image_tag 'rsz_polaroid_frame.png', class: '' %>
      </div>
    </div>
  </div>
<% end %>
