<%= content_for :subhead do %>
  <div class='row'>
    <div class='float-left width360 sm-bot'>
      <%= image_tag 'px_word_logo.png', class: 'px-logo' %>
    </div>
    <div class='mtop nav pull-right'>
      <%= link_to 'How It Works', '#', class: 'width120 browse-link' %>
      <%= link_to 'Help', '#', class: 'left-margin browse-link' %>
    </div>
  </div>
<% end %>
<%= content_for :topcontent do %>
  <div class='container'>
    <div class='row mtop'>
      <div class='mtop span7 home-title-grp'>
        <span class='home-title'><%= PIXI_KEYS['pixi']['caption'] %></span><br />
        <span class='tag-line'><%= PIXI_KEYS['pixi']['tag_line'] %></span>
      </div>
      <div class='mtop span4 pull-right div-blk-border round'>
        <%= render partial: 'shared/signin_form', locals: { rmbrFlg: false } %>
      </div>
      <div class='mtop span4'>
        <%= image_tag 'rsz_polaroid_frame.png', class: '' %>
      </div>
      <div class='mtop offset1 span2'>
        <%= link_to image_tag('btn_check-it-out.gif', class: 'browse-img'), categories_path, id: 'browse-link' %>
      </div>
    </div>
  </div>
<% end %>
