<% provide(:title, 'How It Works') %>
<%= render partial: 'shared/pg_header', locals: { linkFlg: true } %>
<%= content_for :content do %>
  <%= render partial: 'shared/pg_sub_header', locals: { stitle: 'How It Works' } %>
  <div class='mtop row'>
    <div class='offset1 span10'>
      <%= image_tag 'rsz_pxb_layout_share.png', class: 'pxb-img' %>
      <%= image_tag 'rsz_pxb_layout_connect-font15.png', class: 'pxb-img' %>
      <%= image_tag 'rsz_pxb_layout_magic.png', class: 'pxb-img' %>
      <div class='height480 div-border pg-bkgnd-white mbot'>
        <div class='mtop span2 page-text'>Here's what it's like to use Pixiboard</div>
        <div class='mtop span7 mbot' id='video-container'>
          <%= image_tag 'http://placehold.it/640x360', class: 'span7 vimeo-thumb', 'data-vimeo-id'=>'82242899' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
