<table class='mtop inv-descr'>
  <tr>
    <td class='cal-size'>Card #* <%= image_tag('cc_logos.jpeg', :class=>'cc-logo') %>
    <%= text_field_tag :card_number, nil, name: nil, :size => 16 %></td>
  </tr>
  <tr>
    <td>
      <table>
      <tr>
        <td><div class='sm-top'>CVV*</div><%= text_field_tag :card_code, nil, name: nil, :maxlength => 4, :size => 4, :class=>'card-code' %></td>
	<td></td>
        <td>Exp Mo*<%= select_month nil, {use_short_month: true}, {name: nil, id: "card_month", 'data-mini'=>'true'} %></td>
        <td>Exp Yr*<%= select_year nil, {start_year: Date.today.year+1, end_year: Date.today.year+15}, {name: nil, id: "card_year", 'data-mini'=>'true'} %></td>
      </tr></table>
    </td>
  </tr>
</table>
