<div class="mleft10">
  <%= form_for(@user, url: user_path(@user, target: 'mobile/user_form'), :html => { method: :put }, remote: true) do |f| %>
    <div id="form_errors"><%= render partial: 'mobile/error_messages', :locals => { :target => @user } %></div>

    <table class='inv-descr'>
      <tr><td>Password</td><td><%= f.password_field :password, placeholder: "New password", autocomplete: "off" %></td></tr>
      <tr><td>Confirm Password</td><td><%= f.password_field :password_confirmation, placeholder: "Confirm password" %></td></tr>
    </table>

    <div class='mtop center-wrapper'><%= f.submit "Save", 'data-inline'=>'true', 'data-theme'=>'d' %></div>
  <% end %>
</div>
