<%= content_for :panel do %>
  <%= render 'mobile/left_panel' %>
<% end %>

<%= content_for :head do %>
  <%= render partial: 'layouts/header', locals: { psize: '' } %>
  <%= render 'mobile/index_panel' %>
<% end %>

<%= content_for :srch_content do %>
  <div id="px-search" style='display:none'>
    <%= render 'mobile/search' %>
  </div> 
<% end %>

<%= content_for :content do %>
  <div id="pxboard">
    <%= render 'mobile/listings' %>
  </div> 

  <nav id="px-nav">
    <%= render 'mobile/listing_next_page' %>
  </nav>
<% end %>
