    <div id='home-nav' data-role='navbar' data-theme='c'>
      <ul>
        <li><%= link_to '#', 'data-mini'=>'true', id: 'home-link', 'data-theme'=>get_theme(1) do %>
	  <%= image_tag 'home_button_blue.png' %>
	<% end %></li>
        <li><%= link_to '#', 'data-mini'=>'true', id: 'loc-nav' do %>
	  <%= image_tag 'blue-white-globe.png' %>
	<% end %></li>
        <li><%= link_to '#', 'data-mini'=>'true', id: 'cat-nav' do %>
	  <%= image_tag 'grid_categories.png' %>
	<% end %></li>
        <li><%= link_to '#', 'data-mini'=>'true', id: 'search-nav' do %>
	  <%= image_tag 'rsz_search_icon1_blue.png' %>
	<% end %></li>
      </ul>
    </div>

