<%= content_for :panel do %>
  <%= render 'mobile/left_panel' %>
<% end %>

<%= content_for :head do %>
  <%= render partial: 'layouts/header', locals: { psize: 'My Invoices' } %>
  <%= render 'mobile/inv_panel' %>
<% end %>

<%= content_for :content do %>
  <div id="mxboard">
    <ul id='inv-list' data-role="listview">
      <% unless @invoices.blank? %>
        <%= render partial: 'mobile/invoice_row', collection: @invoices, as: :invoice %>
      <% else %>
        <div class='mtop center-wrapper'>No invoices found.</div>
      <% end %>
    </ul>
  </div> 

  <div id="px-div" class='mtop center-wrapper'>
    <%= will_paginate @invoices, page_links: false, remote: true if @invoices.respond_to?(:total_pages) %>
  </div>
<% end %>

