<div class="row">
  <%= form_for @invoice, id: 'invoice-doc', :html =>{"data-ajax" => false} do |f| %> 
    <div id="form_errors"><%= render partial: 'mobile/error_messages', locals: { target: f.object } %></div>

      <div class='mleft15'>
	<table class='inv-descr'>
	    <tr><td>Date:</td><td><%= get_local_date(Time.now) %></td></tr>
	    <tr><td>Bill To:</td>
	      <td><%= autocomplete_field_tag 'buyer_name', @invoice.buyer_name, autocomplete_user_first_name_invoices_path,
	        :update_elements => { :id => '#invoice_buyer_id' }, :placeholder => 'Enter Buyer Name' %></td></tr> 
	    <tr>
	      <td>Item:</td><td><%= render 'mobile/active_listings' %></td></tr>
            <%= render partial: 'mobile/invoice_item', locals: { f: f } %>
	    <tr style='display:none'><td>Comments:</td>
            <td><%= f.text_area :comment, placeholder: 'Enter comments here...' %></td></tr>
	</table>
        
        <%= f.hidden_field :buyer_id %>
        <%= f.hidden_field :inv_date, value: Time.now  %>
        <%= f.hidden_field :seller_id, value: @user.id %>

        <div class='mtop pull-right'>
          <%= f.submit 'Save', id: 'send-btn', 'data-theme'=>'b', 'data-inline'=>'true' %>
          <%= link_to 'Cancel', invoices_path, 'data-role'=>'button', 'data-inline'=>'true' %>
        </div>
    </div>
  <% end %>
</div>
