<%= render partial: 'mobile/edit_photo_form', locals: {model: @listing, psize: 'sm-thumb', form: f, remove_photo: true } %>
<table class='mleft10'>
  <tr>
    <td id='add-pixi-photo'>
      <output id='list'><%= image_tag 'photo-camera.png', class: 'sm-thumb' %></output>
    </td>
 </tr>
</table>
<table class='inv-descr' id='input-form'>
  <tr class=''>
    <td><%= f.label :title %><%= f.text_field :title, :autofocus => true, :placeholder => 'Pixi Title' %></td>
  </tr>
  <tr id='price-fld' style="<%= @listing.job? ? 'display:none' : '' %>"><td><%= f.label :price %>
    <%= f.text_field :price, :size => 10, value: num_display(f.object, "price"), class: 'width120', placeholder: 'Price' %></td>
  </tr>
  <tr id='yr-fld' style="<%= !@listing.has_year? ? 'display:none' : '' %>"><td><%= f.label 'Year' %>
    <%= f.select 'year_built', options_for_select(get_year_ary, :selected => @listing.year_built), {:prompt => 'Select'}, 
          {id: 'yr_built', 'data-mini'=>'true'} %></td></tr>
  <tr id='comp-fld' style="<%= !@listing.job? ? 'display:none' : '' %>"><td><%= f.label :compensation %>
    <%= f.text_field :compensation, id: 'salary' %></td></tr>
  <tr class=''>
    <td><%= f.label :site_id, 'Location' %>
    <%= autocomplete_field_tag 'site_name', @listing.site_name, autocomplete_site_name_temp_listings_path,
	        :update_elements => { :id => '#site_id' }, :placeholder => 'Pixi Location' %>
    <%= f.hidden_field :site_id, id: 'site_id' %></td>
  </tr>
  <tr class=''>
    <td><%= f.label :category_id, 'Category', class: 'med-top' %>
    <%= f.collection_select :category_id, Category.active, :id, :name_title, {:prompt => 'Select'}, {'data-mini'=>'true'} %></td> 
  </tr>
  <tr>
    <%= render partial: 'mobile/listing_times', locals: {f: f} %>
  </tr>
  <tr>
    <td><%= f.label :description, class: 'med-top' %><%= f.text_area :description, :placeholder => 'Describe Your Pixi' %></td>
  </tr>
</table>
