<div class="item">
  <div class="center-wrapper">
    <%= link_to listing_path(listing), 'data-ajax'=>"false" do %>
      <%= render partial: 'mobile/show_picture', locals: {psize: 'thumb', model: listing} %>
    <% end %>
    <div class='sm-top mbdescr'>
      <%= listing.title %>
    </div>
    <div class='sm-top mgdescr'>
      <div class='item-cat pixi-grey-bkgnd' data-cat-id="<%= listing.category_id %>">
        <%= link_to listing.category_name, '#', class: 'pixi-cat', 'data-cat-id'=> listing.category_id %> 
      </div>
     <div class='item-dt pixi-grey-bkgnd'>
       <%= ts_in_words(listing.updated_at) %>
      </div>
    </div>
  </div>
</div>
