  <%= form_for(@listing, :html => { id: 'pixi-form', multipart: true, 'data-ajax'=>false }) do |f| %>
      <div id="form_errors">
        <%= render partial: 'mobile/error_messages', :locals => { :target => @listing } %>
      </div>

      <%= render partial: 'mobile/listing_fields', :locals => { f: f } %>
      <%= f.hidden_field :start_date, value: Time.now %>
      <%= f.hidden_field :seller_id, value: @user.id %>
      <%= f.hidden_field :post_ip, value: @user.current_sign_in_ip %>

    <div class="nav pull-right">
      <%= link_to 'Cancel', root_path, confirm: msg, 'data-role'=>'button', 'data-inline'=>'true' %>
      <%= f.submit "Next", 'data-theme'=>'d', 'data-inline'=>'true' %>
    </div>
  <% end %>
