  <%= form_for setup_post(@user), url: reply_posts_path(id: post), id: 'post-frm', method: :post, remote: true, html: {"data-ajax"=>'false'} do |f| %> 
    <div id="notice" style="display:none"></div>
    <div id="form_errors">
      <%= render partial: 'mobile/error_messages', :locals => { :target => f.object } %>
    </div>
    <%= f.hidden_field 'pixi_id', value: post.pixi_id %>
    <%= f.hidden_field 'recipient_id', value: post.user_id %>
    <%= f.hidden_field 'user_id', value: post.recipient_id %>
    <div class='clear-all'>
      <table>
        <tr>
          <td><%= f.text_area 'content', placeholder: 'Type reply message...', class: 'reply_content slide-menu', 'data-mini'=>'true' %></td>
          <td><%= f.submit 'Send', class: 'reply-btn', 'data-inline'=>"true", 'data-mini'=>'true', 'data-theme'=>'b' %></td>
        </tr>
      </table>
    </div>
  <% end %>
