<%= content_for :panel do %>
  <%= render 'mobile/left_panel' %>
<% end %>

<%= content_for :head do %>
  <%= render partial: 'layouts/header', locals: { psize: 'Setup Card Account' } %>
<% end %>

<%= content_for :content do %>
  <div id='inv_mform'>
    <%= render :partial => 'mobile/card_account', locals: { form_name: 'mobile/card_account_form' } %>
  </div>
<% end %>

