<%= content_for :panel do %>
  <%= render 'mobile/left_panel' %>
<% end %>

<%= content_for :head do %>
  <%= render partial: 'layouts/header', locals: { psize: 'My Bank Account' } %>
<% end %>

<%= content_for :content do %>
  <div id='inv_mform'>
    <%= render :partial => 'mobile/bank_account', locals: { form_name: 'mobile/show_bank_account' } %>
  </div>
<% end %>

