<% provide(:title, 'Home') %>
<%= content_for :subhead do %>
  <div id='nav-home-menu'>
    <%= render partial: 'shared/navbar', locals: { menu_name: 'Home' } %>
  </div>
<% end %>

<%= content_for :content do %>
  <%= hidden_field_tag 'home_site_name' %>
  <% cache @categories do %>
    <div id="pxboard">
      <%= render partial: 'shared/category', collection: @categories %>
    </div> 
  <% end %>

  <nav id="px-nav">
    <%= render 'shared/category_next_page' %>
  </nav>
<% end %>
