<%= content_for :panel do %>
  <%= render 'mobile/left_panel' %>
<% end %>

<%= content_for :subhead do %>
  <div class="board-top">
    <div id='pixi-loc' class='center-wrapper' style='display:none'>
      <%= render partial: 'mobile/sites', locals: { ptype: false } %>
    </div>
  </div> 
<% end %>

<%= content_for :srch_content do %>
  <div id="px-search" style='display:none'>
    <%= render 'mobile/search' %>
  </div> 
<% end %>

<%= content_for :content do %>
  <div id="pxboard">
    <%= render 'mobile/categories' %>
  </div> 

  <nav id="px-nav">
    <%= render 'mobile/category_next_page' %>
  </nav>
<% end %>
