<div id='msg-link'>
  <%= render 'shared/msg_indicator' %> 
</div>
<ul class="nav pull-right">
  <%= render 'layouts/post_menu' %>
  <% if @user.has_pixis? %>
    <li><%= link_to "Bill", get_invoice_path, id: 'bill-pixi' %></li>
  <% end %>
  <% if @user.has_unpaid_invoices? %>
    <li><%= link_to "Pay", get_unpaid_path, id: 'pay-pixi' %></li>
  <% end %>
  <%= render 'layouts/manage' if can? :manage_pixi_posts, @user %>
  <%= render 'layouts/user_menu' %>
</ul>
