<div id='msg-link'>
  <%= render 'shared/msg_indicator' %> 
</div>
<ul class="nav pull-right">
  <%= render 'layouts/post_menu' %>
  <%= show_bill_menu_btn %>
  <%= show_pay_menu_btn %>
  <%= show_manage_menu %>
  <%= render 'layouts/user_menu' %>
</ul>
