<footer class="footer">
  <small class='sm-top'>
    &copy; <%= "#{Date.today.year} #{full_title('')}, Inc." %>
  </small>
  <nav>
    <ul class='sm-top'>
      <li><%= link_to "About", about_path, class: 'pixi-link' %></li>
      <li><%= link_to "Privacy", privacy_path, class: 'pixi-link' %></li>
      <li><%= link_to "Terms", terms_path, class: 'pixi-link' %></li>
      <% unless action_name == 'home' %>
        <li><%= link_to "Help", help_path, class: 'pixi-link' %></li>
      <% end %>
      <li><%= link_to "Contact", contact_path, class: 'pixi-link' %></li>
      <li><%= link_to image_tag('facebook_icon.png', class: 'ftr-img'), 'https://www.facebook.com/pixiboardmagic', 
	  class: 'pixi-link', id: 'fb-link', target: '_blank' %></li>
      <li><%= link_to image_tag('twitter_icon.png', class: 'ftr-img'), 'https://twitter.com/pixiboardmagic', class: 'pixi-link', 
	  id: 'tw-link', target: '_blank' %></li>
      <li><%= link_to image_tag('pinterest_icon.png', class: 'ftr-img'), 'http://www.pinterest.com/pixiboardmagic/', class: 'pixi-link',
	  id: 'pi-link', target: '_blank' %></li>
      <li><%= link_to image_tag('instagram_icon.png', class: 'ftr-img'), 'http://instagram.com/pixiboardmagic', class: 'pixi-link', 
	  id: 'ins-link', target: '_blank' %></li>
      <li><%= link_to image_tag('rsz_pxb_blogger_icon.png', class: 'ftr-img'), 'http://www.pixiboardmagic.blogspot.com', class: 'pixi-link',
	  id: 'pi-link', target: '_blank' %></li>
    </ul>
  </nav>
</footer>
