<footer class="footer">
  <small>
    &copy; <%= "#{Date.today.year} #{full_title('')}, Inc." %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path, class: 'pixi-link' %></li>
      <li><%= link_to "Help", help_path, class: 'pixi-link' %></li>
      <li><%= link_to "Privacy", privacy_path, class: 'pixi-link' %></li>
      <li><%= link_to "Contact", contact_path, class: 'pixi-link' %></li>
    </ul>
  </nav>
</footer>
