<footer class="footer">
  <small>
    &copy; <%= "#{Date.today.year} #{full_title('')}, Inc." %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#', class: 'pixi-link' %></li>
      <li><%= link_to "Help", '#', class: 'pixi-link' %></li>
      <li><%= link_to "Privacy", '#', class: 'pixi-link' %></li>
      <li><%= link_to "Contact", '#', class: 'pixi-link' %></li>
    </ul>
  </nav>
</footer>
