<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= pixi_home %>
      <nav>
	<% if signed_in? %>
          <%= display_search %>
          <%= link_to get_unread_count(@user), unread_posts_path, id: "notice-btn", title: 'Messages' %>

          <ul class="nav pull-right">
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "Add+", new_temp_listing_path %></li>

	    <% if can? :manage_items, @user %>
	      <%= render 'layouts/manage' %>
	    <% end %>

	    <%= render 'layouts/user_menu' %>
          </ul>
	<% else %>
          <ul class="nav pull-right">
            <li><%= link_to "Sign in", new_user_session_path %></li>
          </ul>
	<% end %>
      </nav>
    </div>
  </div>
</header>
