<li id="fat-menu" class="dropdown">
  <%= link_to '#', class: "dropdown-toggle", "data-toggle"=>"dropdown" do %>
    <%= render partial: 'shared/menu_user_name', locals: {user: @user} %>
  <% end %>
  <ul class="dropdown-menu">
    <li><%= link_to "My Pixis", seller_listings_path(status: 'active') %></li>
    <li><%= link_to "My PixiPosts", seller_pixi_posts_path(status: 'active') %></li>
    <li><%= link_to "My Messages", conversations_path(status: 'received') %></li>
    <li class="divider"></li>
    <li><%= link_to "My Invoices", sent_invoices_path %></li>
    <li><%= link_to "My Accounts", get_account_path %></li>
    <li><%= link_to "My Settings", settings_path %></li>
    <li class="divider"></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><%= link_to "Privacy", privacy_path %></li>
    <li><%= link_to "Terms", terms_path %></li>
    <li><%= link_to "Help", help_path %></li>
    <li class="divider"></li>
    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
  </ul>
</li>

