<li id="fat-menu" class="dropdown">
  <%= link_to '#', class: "dropdown-toggle", "data-toggle"=>"dropdown" do %>
    <div class='pull-left navbar-photo'>
      <%= render partial: 'shared/show_photo', locals: {model: @user, file_name: "usr-sm-photo", psize: '30x30', display_cnt: 0 } %>
    </div>
    <%= @user.first_name %>
    <b class="caret"></b>
  <% end %>
  <ul class="dropdown-menu">
    <% if can? :view_dashboard, @user %>
      <li><%= link_to "Dashboard", '#' %></li>
    <% end %>
    <li><%= link_to "My Pixis", seller_listings_path %></li>
    <li><%= link_to "My Posts", posts_path %></li>
    <li><%= link_to "My Invoices", invoices_path %></li>
    <li><%= link_to "Settings", settings_path %></li>
    <li class="divider"></li>
    <li><%= link_to "Sign out", destroy_user_session_path %></li>
  </ul>
</li>

