<!DOCTYPE html>
<html>
<head>
  <link href="/assets/favicon.ico" rel="shortcut icon" />
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" %>
  <%= javascript_include_tag "application", 'main', "http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js", 'jquery.placeholder.min.js',
    'jquery-smartvimeoembed.min.js' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <div class="container">
    <%= yield :subhead %>
    <%= render 'layouts/flash_messages', flash: flash %>
  </div>
  <div id='home-wrap' class='pg-bkgnd-gray'>
    <div class="container">
      <div id="spinner" class="round" style="display:none"></div>
      <%= yield :content %>
      <%= render 'layouts/footer' %>
    </div>
  </div>
</body>
</html>
