<!DOCTYPE html>
<html>
<head>
  <link href="/assets/favicon.ico" rel="shortcut icon" />
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% unless notice.nil? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% unless alert.nil? %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield :content %>
    <div id="push"></div>
  </div>
</body>
<div class="container div-footer">
  <%= render 'layouts/footer' %>
</div>
</html>
