<!DOCTYPE html>
<html>
<head>
  <link href="/assets/favicon.ico" rel="shortcut icon" />
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", 'bootstrap.min.js', 'jquery.rateit.min.js' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <div id='wrap'>
    <%= render 'layouts/header' %>
    <%= yield :subhead %>
    <div class="container" id='section-container'>
      <div id="spinner" class="round" style="display:none"></div>
      <%= render 'layouts/flash_messages', flash: flash %>
      <%= yield :content %>
    </div>
  </div>
  <div id='footer'>
    <div class="container">
      <%= render 'layouts/footer' %>
    </div>
  </div>
</body>
</html>
