<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/title' %>
  <%= tag :meta, :name => "max_pixi_size", :content => MAX_PIXI_SIZE %>
</head>
<body>
  <div id='wrap'>
    <%= render 'layouts/header' %>
    <%= yield :subhead %>
    <div class="container" id='section-container'>
      <div id="spinner" class="round" style="display:none"></div>
      <%= render 'layouts/flash_messages', flash: flash %>
      <%= yield :content %>
    </div>
  </div>
  <div id='footer'>
    <div class="container">
      <%= render 'layouts/footer' %>
      <%= javascript_include_tag "application" %>
    </div>
  </div>
</body>
</html>
