<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/title' %>
</head>
<body>
  <div id='wrap'>
    <%= render 'layouts/header' %>
    <%= yield :subhead %>
    <%= render 'layouts/flash_messages', flash: flash %>
    <div class="container" id="px-container">
      <div id="spinner" class="round" style="display:none"></div>
      <%= yield :content %>
    </div>
    <div id="push"></div>
  </div>
  <div id='footer'>
    <div class="container">
      <div id="push"></div>
      <%= render 'layouts/footer' %>
      <%= javascript_include_tag "application", "https://maps.googleapis.com/maps/api/js?key=#{API_KEYS['google']['api_key']}" %>
    </div>
  </div>
</body>
</html>
