<!DOCTYPE html>
<html>
  <head>  
    <div id="pg-hdr">
      <%= yield :title %> 
    </div>
    <%= render 'layouts/jqm' %>
    <%= stylesheet_link_tag "mobile", :media => 'all' %>  
    <%= csrf_meta_tag %>  	
  </head>
  <body>  
    <div id="formapp" data-role="page" data-cache="never" data-theme='a' class='home-pg'> 
      <%= yield :panel %>
      <div data-role="header" data-theme="d">
        <%= yield :head %>
      </div>
    
      <div class="app-content" data-role="content" data-theme='a' class='listpg'>
  	<%= yield :subhead %>
	<%= render 'mobile/notice_alert'%>
      	<%= yield :content %>
      </div>
    
      <div id="app-footer" data-role="footer" data-theme='a' style='display:none'>		
        <%= yield :footer %>
      </div>
    </div>   
  </body> 
</html>
