<!DOCTYPE html>
<html>
<head>
  <link href="/assets/favicon.ico" rel="shortcut icon" />
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", "image", :media => "all" %>
  <%= javascript_include_tag "application", "http://code.jquery.com/jquery-1.10.1.min.js", "autocomplete-rails.js", "jquery.ui.autocomplete.html.js", 
  	"https://js.stripe.com/v1/", 'transaction.js', 'jquery.placeholder.min.js', 'bootstrap.min.js', 
	"https://js.balancedpayments.com/v1/balanced.js" %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <%= tag :meta, :name => "balanced-key", :content => BALANCED_URI %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <div id='wrap'>
    <%= render 'layouts/header' %>
    <%= yield :subhead %>
    <div class="container">
      <div id="spinner" class="round" style="display:none"></div>
      <%= render 'layouts/notices' %>
      <%= yield :content %>
    </div>
  </div>
  <div id='footer'>
    <div class="container">
      <div id="push"></div>
      <%= render 'layouts/footer' %>
    </div>
  </div>
</body>
</html>
