<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/title' %>
</head>
<body>
  <div id='wrap'>
    <%= render 'layouts/header' %>
    <%= yield :subhead %>
    <div class="container">
      <%= yield :topcontent %>
      <%= render 'layouts/flash_messages', flash: flash %>
    </div>
    <div id="spinner" class="round" style="display:none"></div>
    <%= yield :content %>
  </div>
  <div class="container">
    <%= render 'layouts/footer' %>
    <%= javascript_include_tag "application" %>
  </div>
</body>
</html>
