<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/settings' %>
  <%= javascript_include_tag "application", "https://js.stripe.com/v2/" %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <%= tag :meta, :name => "credit-card-api", :content => CREDIT_CARD_API %>
</head>
<body>
  <div id='wrap'>
    <%= render 'layouts/header' %>
    <%= yield :subhead %>
    <div class="container">
      <div id="spinner" class="round" style="display:none"></div>
      <%= render 'layouts/flash_messages', flash: flash %>
      <%= yield :content %>
    </div>
  </div>
  <div id='footer'>
    <div class="container">
      <div id="push"></div>
      <%= render 'layouts/footer' %>
    </div>
  </div>
</body>
</html>
